<h1>Heißwasserverbrauch - jährliche Erhebung</h1>

<table>
  <tr>
    <th>Heißwasserproduktion</th>
    <th>Heißwasserverbraucher</th>
    <th>Volumenstrom</th>
    <!--<th>Vorlauftemperatur</th>
    <th>Rücklauftemperatur</th>-->
    <th>Prozesstemperatur</th>
    <th>Aktion</th>
  </tr>

<% @hot_water_consumption_years.each do |hot_water_consumption_year| %>
  <tr>
    <td><%= hot_water_consumption_year.hotWaterProduction_id %></td>
    <td><%= hot_water_consumption_year.machinery_id %></td>
    <td><%= hot_water_consumption_year.volumeStream %></td>
    <!--<td><%= hot_water_consumption_year.flowTemperature %></td>
    <td><%= hot_water_consumption_year.returnTemperature %></td>-->
    <td><%= hot_water_consumption_year.processTemperature %></td>
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), hot_water_consumption_year %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_hot_water_consumption_year_path(hot_water_consumption_year) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), hot_water_consumption_year, method: :delete, data: { confirm: 'Are you sure?' }   %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue jährliche Erhebung Heißwasserverbrauch', new_hot_water_consumption_year_path %>
