<h1>Thermoölverteilung</h1>

<table>
  <tr>
    <th>Thermoölproduktion</th>
    <th>Thermoölverbraucher</th>
    <th>Durchmesser</th>
    <th>Isolation</th>
    <th>Länge</th>
    <!--<th>Volumeflownenn</th>
    <th>Volumeflowmin</th>
    <th>Volumeflowmax</th>-->
    <th>Aktion</th>
  </tr>

<% @thermo_oil_distributions.each do |thermo_oil_distribution| %>
  <tr>
    <td><%= thermo_oil_distribution.thermoOilProduction_id %></td>
    <td><%= thermo_oil_distribution.thermoOilConsumption_id %></td>
    <td><%= thermo_oil_distribution.aperture %></td>
    <td><%= thermo_oil_distribution.isolation %></td>
    <td><%= thermo_oil_distribution.length %></td>
    <!--<td><%= thermo_oil_distribution.volumeFlowNenn %></td>
    <td><%= thermo_oil_distribution.volumeFlowMin %></td>
    <td><%= thermo_oil_distribution.volumeFlowMax %></td>-->
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), thermo_oil_distribution %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_thermo_oil_distribution_path(thermo_oil_distribution) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), thermo_oil_distribution, method: :delete, data: { confirm: 'Are you sure?' }  %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Thermoölverteilung', new_thermo_oil_distribution_path %>
