<%= form_for(@thermo_oil_production) do |f| %>
  <% if @thermo_oil_production.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermo_oil_production.errors.count, "error") %> prohibited this thermo_oil_production from being saved:</h2>

      <ul>
      <% @thermo_oil_production.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  </tr>
    <td><%= f.label :kettleName, "Kesselname" %></td>
    <td><%= f.text_field :kettleName %></td>
    <td><%= f.label :kettleManufacturer, "Hersteller" %></td>
    <td><%= f.text_field :kettleManufacturer %></td>
  </tr>
  <tr>
    <td><%= f.label :kettleManuYear, "Baujahr" %></td>
    <td><%= f.number_field :kettleManuYear %></td>
    <td><%= f.label :kettleCapacity, "Leistung" %></td>
    <td><%= f.number_field :kettleCapacity %> m³/h</td>
  </tr>
  <tr>
    <td><%= f.label :burnerType, "Brennertyp" %></td>
    <td><%= f.text_field :burnerType %></td>
    <td><%= f.label :burnerManufacturer, "Hersteller" %></td>
    <td><%= f.text_field :burnerManufacturer %></td>
  </tr>
  <tr>
    <td><%= f.label :burnerManuYear, "Baujahr" %></td>
    <td colspan="3"><%= f.number_field :burnerManuYear %></td>
  </tr>
  <tr>
    <td><%= f.label :districtHeatMin, "Feuerungswärmeleistung Min" %></td>
    <td><%= f.number_field :districtHeatMin %> MW</td>
    <td><%= f.label :districtHeatMax, "Feuerungswärmeleistung Max" %></td>
    <td><%= f.number_field :districtHeatMax %> MW</td>
  </tr>
  <tr>
    <td><%= f.label :fuelType, "Brennstofftyp" %></td>
    <td><%= f.text_field :fuelType %>
    <td><%= f.label :fuelDenseness, "Dichte" %></td>
    <td><%= f.number_field :fuelDenseness %> kg/m³</td>
  </tr>
  <tr>
    <td><%= f.label :fuelValue, "Brennwert" %></td>
    <td colspan="3"><%= f.number_field :fuelValue %> <%= f.select :fuelValue, ["kj/kg", "m³", "l", "Nm³"]%></td></td>
  </tr>
  <tr>
    <td><%= f.label :thermoOilName, "Thermoölbezeichnung" %></td>
    <td><%= f.text_field :thermoOilName %></td>
    <td><%= f.label :exhaustHeatRecovery, "Abgaswärmerückgewinnung" %></td>
    <td><%= f.select :exhaustHeatRecovery, ["ECO", "BWT", "LuVo"] %></td>
  </tr>
  <tr>
    <td><%= f.label :o2control, "O2-Regelung" %></td>
    <td colspan="3"><%= f.select :o2control, {"Ja" => true, "Nein" => false} %></td>
  </tr>
  <tr>
    <td><%= f.label :chimney, "Kamin" %></td>
    <td colspan="3"><%= f.text_area :chimney, size: "90x3" %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden" %>

  </div>
<% end %>
