<p id="notice"><%= notice %></p>

<p>
  <b>Kettlename:</b>
  <%= @thermo_oil_production.kettleName %>
</p>

<p>
  <b>Kettlemanufacturer:</b>
  <%= @thermo_oil_production.kettleManufacturer %>
</p>

<p>
  <b>Kettlemanuyear:</b>
  <%= @thermo_oil_production.kettleManuYear %>
</p>

<p>
  <b>Kettlecapacity:</b>
  <%= @thermo_oil_production.kettleCapacity %>
</p>

<p>
  <b>Burnertype:</b>
  <%= @thermo_oil_production.burnerType %>
</p>

<p>
  <b>Burnermanufacturer:</b>
  <%= @thermo_oil_production.burnerManufacturer %>
</p>

<p>
  <b>Burnermanuyear:</b>
  <%= @thermo_oil_production.burnerManuYear %>
</p>

<p>
  <b>Districtheatmin:</b>
  <%= @thermo_oil_production.districtHeatMin %>
</p>

<p>
  <b>Districtheatmax:</b>
  <%= @thermo_oil_production.districtHeatMax %>
</p>

<p>
  <b>Fueltype:</b>
  <%= @thermo_oil_production.fuelType %>
</p>

<p>
  <b>Fueldenseness:</b>
  <%= @thermo_oil_production.fuelDenseness %>
</p>

<p>
  <b>Fuelvalue:</b>
  <%= @thermo_oil_production.fuelValue %>
</p>

<p>
  <b>Thermooilname:</b>
  <%= @thermo_oil_production.thermoOilName %>
</p>

<p>
  <b>Exhaustheatrecovery:</b>
  <%= @thermo_oil_production.exhaustHeatRecovery %>
</p>

<p>
  <b>O2control:</b>
  <%= @thermo_oil_production.o2control %>
</p>

<p>
  <b>Chimney:</b>
  <%= @thermo_oil_production.chimney %>
</p>


<%= link_to 'Edit', edit_thermo_oil_production_path(@thermo_oil_production) %> |
<%= link_to 'Back', thermo_oil_productions_path %>
