<h2>Thermoölproduktion <%=@thermo_oil_production.kettleName%></h2>

<p>An dieser Stelle sind alle Details Ihrer Druckluftproduktionsanlage aufgeführt. Weiter unten finden Sie zusätzlich die jährlichen Erhebungen für Ihre Anlage.</p>

<table class="left">
<tr><th colspan=4> </th></tr>
<tr>
  <th width=100>Bezeichnung:</th>
  <td><%= @thermo_oil_production.kettleName %></td>
  <th width=100>Hersteller:</th>
  <td><%= @thermo_oil_production.kettleManufacturer %></td>
</tr>

<tr>
  <th>Baujahr:</th>
  <td><%= @thermo_oil_production.kettleManuYear %></td>
  <th>Kesselleistung:</th>
  <td><%= @thermo_oil_production.kettleCapacity %> kW</td>
</tr>

<tr>
  <th>Brennertyp:</th>
  <td><%= @thermo_oil_production.burnerType %></td>
  <th>Hersteller:</th>
  <td><%= @thermo_oil_production.burnerManufacturer %></td>
</tr>

<tr>
  <th>Baujahr:</th>
  <td colspan=3><%= @thermo_oil_production.burnerManuYear %></td>
</tr>

<tr>
  <th>Feuerungswärmeleistung (min):</th>
  <td><%= @thermo_oil_production.districtHeatMin %> Min MW</td>
  <th>Feuerungswärmeleistung (max):</th>
  <td><%= @thermo_oil_production.districtHeatMax %> Max MW</td>
</tr>

<tr>
  <th>Brennstoff:</th>
  <td><%= @thermo_oil_production.fuelType %></td>
  <th>Dichte:</th>
  <td><%= @thermo_oil_production.fuelDenseness %> kg/m&sup3;</td>
</tr>

<tr>
  <th>Brennwert:</th>
  <td><%= @thermo_oil_production.fuelValue %> <%= @thermo_oil_production.fuelValueUnit %></td>
  <th>Thermoölbezeichnung:</th>
  <td><%= @thermo_oil_production.thermoOilName %></td>
</tr>

<tr>
  <th>Abgaswärme- rückgewinnung:</th>
  <td><%= @thermo_oil_production.exhaustHeatRecovery %></td>
  <th>O2-Regelung:</th>
  <td><%= @thermo_oil_production.o2control %></td>
</tr>

<tr>
  <th>Kamin:</th>
  <td colspan=3><%= @thermo_oil_production.chimney %></td>
</tr>
	<tr><th colspan=3></td><th align="center"><%= link_to image_tag("zurueck.png", size: "20x20", alt: 'Zurück'), thermo_oil_productions_path %>   <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_thermo_oil_production_path(@thermo_oil_production) %></th></tr>
</table>

<h3>Thermoölproduktion - jährliche Erhebung</h3>

<table class="zentriert">
  <tr>
    <th>Thermoölproduktion</th>
    <th>Brennstoff- verbrauch</th>
    <th>Jahres- verbrauch</th>
    <th>Betriebs- stunden</th>
    <!--<th>Kettleexitcompression</th>
    <th>Kettleexittemperature</th>
    <th>Thermooilamount</th>
    <th>Tempadditionalwater</th>
    <th>Tempcombustionair</th>
    <th>Tempexhaustbeforewrg</th>
    <th>Tempexhaustafterwrg</th>-->
    <th>Co2-Gehalt Abgas</th>
    <th width=100>Aktion</th>
  </tr>

<% @thermo_oil_production_years.each do |thermo_oil_production_year| %>
  <tr>
    <td><%= thermo_oil_production_year.thermoOilProduction_id %></td>
    <td><%= thermo_oil_production_year.fuelConsumption %></td>
    <td><%= thermo_oil_production_year.kettleEnergyConsumption %></td>
    <td><%= thermo_oil_production_year.operatingHours %></td>
    <!--<td><%= thermo_oil_production_year.kettleExitCompression %></td>
    <td><%= thermo_oil_production_year.kettleExitTemperature %></td>
    <td><%= thermo_oil_production_year.thermoOilAmount %></td>
    <td><%= thermo_oil_production_year.tempAdditionalWater %></td>
    <td><%= thermo_oil_production_year.tempCombustionAir %></td>
    <td><%= thermo_oil_production_year.tempExhaustBeforeWRG %></td>
    <td><%= thermo_oil_production_year.tempExhaustAfterWRG %></td>-->
    <td><%= thermo_oil_production_year.carbonDioxideExhaust %></td>
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), thermo_oil_production_year %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_thermo_oil_production_year_path(thermo_oil_production_year) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), thermo_oil_production_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<tr><th>Summe:</th><th colspan=4></th><th align="center"><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_thermo_oil_production_year_path %></th></tr>
</table>