<h1>Listing energy_data_types</h1>

<table>
  <tr>
    <th>Ed type</th>
    <th>Description text</th>
    <th>Unit</th>
    <th>Energy data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @energy_data_types.each do |energy_data_type| %>
  <tr>
    <td><%= energy_data_type.ed_type %></td>
    <td><%= energy_data_type.description_text %></td>
    <td><%= energy_data_type.unit %></td>
    <td><%= energy_data_type.energy_data_id %></td>
    <td><%= link_to 'Show', energy_data_type %></td>
    <td><%= link_to 'Edit', edit_energy_data_type_path(energy_data_type) %></td>
    <td><%= link_to 'Destroy', energy_data_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Energy data type', new_energy_data_type_path %>
