<h2>Heißwasserproduktion <%=@hot_water_production.kettleName%></h2>

<p>An dieser Stelle sind alle Details Ihrer Heißwasserproduktionsanlage aufgeführt. Weiter unten finden Sie zusätzlich die jährlichen Erhebungen für Ihre Anlage.</p>

<table class="left">
	<tr><th colspan=4> </th></tr>
<tr>
  <th width=100>Bezeichnung:</th>
  <td><%= @hot_water_production.kettleName %></td>
  <th width=100>Hersteller:</th>
  <td><%= @hot_water_production.kettleManufacturer %></td>
</tr>

<tr>
  <th>Baujahr:</th>
  <td><%= @hot_water_production.kettleManuYear %></td>
  <th>Kesselleistung:</th>
  <td><%= @hot_water_production.kettleCapacity %></td>
</tr>

<tr>
  <th>Brennertyp:</th>
  <td><%= @hot_water_production.burnerType %></td>
  <th>Hersteller:</th>
  <td><%= @hot_water_production.burnerManufacturer %></td>
</tr>

<tr>
  <th>Baujahr:</th>
  <td><%= @hot_water_production.burnerManuYear %></td>
  <th></th><td></td>
</tr>

<tr>
  <th>Feuerungswärmeleistung (min):</th>
  <td><%= @hot_water_production.districtHeatMin %> Min MW</td>
  <th>Feuerungswärmeleistung (max):</th>
  <td><%= @hot_water_production.districtHeatMax %> Max MW</td>
</tr>

<tr>
  <th>Brennstofftyp:</th>
  <td><%= @hot_water_production.fuelType %></td>
  <th>Dichte:</th>
  <td><%= @hot_water_production.fuelDenseness %> kg/m&sup3;</td>
</tr>

<tr>
  <th>Brennwert:</th>
  <td><%= @hot_water_production.fuelValue %> <%= @hot_water_production.fuelValueUnit %></td>
  <th>Abgaswärmerückgewinnung:</th>
  <td><%= @hot_water_production.exhaustHeatRecovery %></td>
</tr>

<!--TODO hier fehlen noch O2-Regelung und Kamin - Beides auch im Model anlegen-->

<tr><th colspan=3></th><th align="center"><%= link_to image_tag("zurueck.png", size: "20x20", alt: 'Zurück'), hot_water_productions_path %>   <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_hot_water_production_path(@hot_water_production)  %></th></tr>
</table>

<h3>Heißwasserproduktion - jährliche Erhebung</h3>

<table class="zentriert">
  <tr>
    <th>Jahr</th>
    <th>Kessel</th>
    <th>Brennstoff- verbrauch</th>
    <th>Jahres- verbrauch</th>
    <th>Betriebs- stunden</th>
    <!--<th>Druck Kesselaustritt</th>
    <th>Kesselaustritt</th>
    <th>Zusätzliches Wasser</th>
    <th>Verbrennungsluft</th>
    <th>Abgas vor WRG</th>
    <th>Abgas nach WRG</th>-->
    <th>O2-Regelung</th>
    <th width=100>Aktion</th>
  </tr>

<% @hot_water_production_years.each do |hot_water_production_year| %>
  <tr>
    <td><%= hot_water_production_year.year_id %></td>
    <td><%= HotWaterProduction.find_by_id(hot_water_production_year.hotWaterProduction_id).kettleName %></td>
    <td><%= hot_water_production_year.fuelConsumption %> <%= hot_water_production_year.fuelConsumptionUnit %></td>
    <td><%= hot_water_production_year.kettleEnergyConsumption %> kWh/a</td>
    <td><%= hot_water_production_year.operationHours %> h</td>
    <!--<td><%= hot_water_production_year.kettleExitCompression %></td>
    <td><%= hot_water_production_year.kettleExitTemperature %></td>
    <td><%= hot_water_production_year.tempAdditionalWater %></td>
    <td><%= hot_water_production_year.tempCombustionAir %></td>
    <td><%= hot_water_production_year.tempExhaustBeforeWRG %></td>
    <td><%= hot_water_production_year.tempExhaustAfterWRG %></td>-->
    <td><%= hot_water_production_year.carbonDioxideExhaust %></td>
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), hot_water_production_year %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_hot_water_production_year_path(hot_water_production_year) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), hot_water_production_year, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  </tr>
<% end %>
<tr><th>Summe:</th><th colspan=5></th><th><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_hot_water_production_year_path %></th></tr>
</table>

<br />

