<!--COMPRESSED AIR CONSUMERS INDEX-->

<h1>Liste der Druckluftverbraucher</h1>

<table>
  <tr>
    <th>Maschine</th>
    <th>Kompressor</th>
    <th width="50">Benötigtes Druckniveau</th>
    <th>Benötigte Qualität</th>
    <th width="50">Volumenstrom Nennwert</th>
    <!--<th>Volumenstrom Min</th>
    <th>Volumenstrom Max</th>-->
    <th>Bedarfsart</th>
    <th>Aktion</th>
  </tr>

<% @compressed_air_consumers.each do |compressed_air_consumer| %>
  <tr>
    <td><%= compressed_air_consumer.machinery_id %></td>
    <td><%= CompressedAirProduction.find_by_id(compressed_air_consumer.compressor_id).manufacturer %></td>
    <td><%= compressed_air_consumer.neededPressureSettling %></td>
    <td><%= compressed_air_consumer.neededQuality %></td>
    <td><%= compressed_air_consumer.volumeStreamNom %></td>
    <!--<td><%= compressed_air_consumer.volumeStreamMin %></td>
    <td><%= compressed_air_consumer.volumeStreamMax %></td>-->
    <td><%= compressed_air_consumer.requirementType %></td>
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), compressed_air_consumer %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_compressed_air_consumer_path(compressed_air_consumer) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), compressed_air_consumer, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Druckluftverbraucher anlegen', new_compressed_air_consumer_path %>
