<h2>Liste der Produktionsstandorte</h2>
<p>Hier finden Sie eine Liste aller von Ihnen angelegten Produktionsstandorte. Beim Anlegen eines neuen Gebäudes sind diese Standorte zuzuordnen.</p>

<table class="zentriert">
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
	<th>Adresse</th>
    <th>Aktion</th>

  </tr>

<% @produktion_sites.each do |produktion_site| %>
  <tr>
    <td><%= produktion_site.name %></td>
    <td><%= excerpt(produktion_site.description, " ", 9) %></td>
    <td><%= produktion_site.address %> <%=produktion_site.number%></td>

  <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), produktion_site %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_produktion_site_path(produktion_site) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), produktion_site, method: :delete, data: { confirm: 'Are you sure?' }  %></td>

  </tr>
<% end %>
	<tr><th colspan=3></th><th><%= link_to image_tag('new.png', size: "20x20", alt: "Anlegen"), new_produktion_site_path %></th></tr>
</table>

<br />


