<p id="notice"><%= notice %></p>

<p>
  <b>Compressor:</b>
  <%= @compressed_air_distribution.compressor_id %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @compressed_air_distribution.manufacturer %>
</p>

<p>
  <b>Yearofmanufacturing:</b>
  <%= @compressed_air_distribution.yearOfManufacturing %>
</p>

<p>
  <b>Capacity:</b>
  <%= @compressed_air_distribution.capacity %>
</p>

<p>
  <b>Compressedairdryertype:</b>
  <%= @compressed_air_distribution.compressedAirDryerType %>
</p>

<p>
  <b>Addons:</b>
  <%= @compressed_air_distribution.addons %>
</p>

<p>
  <b>Volume:</b>
  <%= @compressed_air_distribution.volume %>
</p>

<p>
  <b>Location:</b>
  <%= @compressed_air_distribution.location_id %>
</p>

<p>
  <b>Leak:</b>
  <%= @compressed_air_distribution.leak %>
</p>

<p>
  <b>Pressureloss:</b>
  <%= @compressed_air_distribution.pressureLoss %>
</p>

<p>
  <b>Mainline:</b>
  <%= @compressed_air_distribution.mainline %>
</p>

<p>
  <b>Stubline:</b>
  <%= @compressed_air_distribution.stubline %>
</p>

<p>
  <b>Branchline:</b>
  <%= @compressed_air_distribution.branchline %>
</p>

<p>
  <b>Mainlinel:</b>
  <%= @compressed_air_distribution.mainlineL %>
</p>

<p>
  <b>Stublinel:</b>
  <%= @compressed_air_distribution.stublineL %>
</p>

<p>
  <b>Branchlinel:</b>
  <%= @compressed_air_distribution.branchlineL %>
</p>

<p>
  <b>Material:</b>
  <%= @compressed_air_distribution.material %>
</p>


<%= link_to 'Edit', edit_compressed_air_distribution_path(@compressed_air_distribution) %> |
<%= link_to 'Back', compressed_air_distributions_path %>
