<p id="notice"><%= notice %></p>

<p>
  <b>Meter:</b>
  <%= @meter_reading.meter_id %>
</p>

<p>
  <b>Readingdate:</b>
  <%= @meter_reading.readingDate %>
</p>

<p>
  <b>Readingvalue:</b>
  <%= @meter_reading.readingValue %>
</p>


<%= link_to 'Edit', edit_meter_reading_path(@meter_reading) %> |
<%= link_to 'Back', meter_readings_path %>
