<p id="notice"><%= notice %></p>

<p>
  <b>Hotwaterproduction:</b>
  <%= @hot_water_production_year.hotWaterProduction_id %>
</p>

<p>
  <b>Fuelconsumption:</b>
  <%= @hot_water_production_year.fuelConsumption %>
</p>

<p>
  <b>Kettleenergyconsumption:</b>
  <%= @hot_water_production_year.kettleEnergyConsumption %>
</p>

<p>
  <b>Operationhours:</b>
  <%= @hot_water_production_year.operationHours %>
</p>

<p>
  <b>Kettleexitcompression:</b>
  <%= @hot_water_production_year.kettleExitCompression %>
</p>

<p>
  <b>Kettleexittemperature:</b>
  <%= @hot_water_production_year.kettleExitTemperature %>
</p>

<p>
  <b>Tempadditionalwater:</b>
  <%= @hot_water_production_year.tempAdditionalWater %>
</p>

<p>
  <b>Tempcombustionair:</b>
  <%= @hot_water_production_year.tempCombustionAir %>
</p>

<p>
  <b>Tempexhaustbeforewrg:</b>
  <%= @hot_water_production_year.tempExhaustBeforeWRG %>
</p>

<p>
  <b>Tempexhaustafterwrg:</b>
  <%= @hot_water_production_year.tempExhaustAfterWRG %>
</p>

<p>
  <b>Carbondioxideexhaust:</b>
  <%= @hot_water_production_year.carbonDioxideExhaust %>
</p>

<p>
  <b>Year:</b>
  <%= @hot_water_production_year.year_id %>
</p>


<%= link_to 'Edit', edit_hot_water_production_year_path(@hot_water_production_year) %> |
<%= link_to 'Back', hot_water_production_years_path %>
