<h2><%= MachineryType.find(@machinery.machineryTypeID).m_type %> <%= @machinery.name %></h2>

<table  class="left">
	<tr><th colspan=4 align="center"><%= image_tag @machinery.photo.url(:show), {:class => 'photo'} %></th></tr>
<tr>
  <th>Beschreibung:</th>
  <td colspan=3><%= @machinery.description %></td>
</tr>
<tr>
  <th>Leistung:</th>
  <td><%= @machinery.energyConsumption %> kWh</td>
  <th>Maschinentyp:</th>
  <td><%= MachineryType.find(@machinery.machineryTypeID).m_type %></td>
</tr>
<tr>
  <th>Baujahr:</th>
  <td><%= @machinery.yearOfConstruction %></td>
  <th>Kaufjahr:</th>
  <td><%= @machinery.yearOfBuy %></td>
</tr>
	<tr><th colspan=4 align="right"><%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_machinery_path(@machinery)  %>
	    <%= link_to image_tag("zurueck.png", size: "20x20", alt: "Löschen"), machineries_path %></th></tr>
</table>