<%= form_for(@thermo_oil_demand) do |f| %>
  <% if @thermo_oil_demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermo_oil_demand.errors.count, "error") %> prohibited this thermo_oil_demand from being saved:</h2>

      <ul>
      <% @thermo_oil_demand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td><%= f.label :thermoOilConsumptionYear_id, "Thermoölverbrauch" %></td>
    <td><%= f.number_field :thermoOilConsumptionYear_id %></td>
    <td><%= f.label :machinery_id, "Thermoölverbraucher" %></td>
    <td><%= f.number_field :machinery_id %></td>
</tr>
<tr>
    <td><%= f.label :demandDate, "Datum" %></td>
    <td colspan="3"><%= f.date_select :demandDate %></td>
</tr>
<tr>
    <td><%= f.label :timeFrom, "Von" %></td>
    <td><%= f.time_select :timeFrom %></td>
    <td><%= f.label :timeTo, "Bis" %></td>
    <td><%= f.time_select :timeTo %></td>
  </tr>
</table>


    <%# f.label :year_id %>
    <%# f.number_field :year_id %>


  <div class="actions">
    <%= f.submit "Absenden"%>
  </div>
<% end %>
