<%= form_for(@thermo_oil_demand) do |f| %>
  <% if @thermo_oil_demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermo_oil_demand.errors.count, "error") %> prohibited this thermo_oil_demand from being saved:</h2>

      <ul>
      <% @thermo_oil_demand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timeFrom %><br />
    <%= f.time_select :timeFrom %>
  </div>
  <div class="field">
    <%= f.label :timeTo %><br />
    <%= f.time_select :timeTo %>
  </div>
  <div class="field">
    <%= f.label :machinery_id %><br />
    <%= f.number_field :machinery_id %>
  </div>
  <div class="field">
    <%= f.label :demandDate %><br />
    <%= f.date_select :demandDate %>
  </div>
  <div class="field">
    <%= f.label :year_id %><br />
    <%= f.number_field :year_id %>
  </div>
  <div class="field">
    <%= f.label :thermoOilConsumptionYear_id %><br />
    <%= f.number_field :thermoOilConsumptionYear_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
