<h1>Listing thermo_oil_demands</h1>

<table>
  <tr>
    <th>Timefrom</th>
    <th>Timeto</th>
    <th>Machinery</th>
    <th>Demanddate</th>
    <th>Year</th>
    <th>Thermooilconsumptionyear</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thermo_oil_demands.each do |thermo_oil_demand| %>
  <tr>
    <td><%= thermo_oil_demand.timeFrom %></td>
    <td><%= thermo_oil_demand.timeTo %></td>
    <td><%= thermo_oil_demand.machinery_id %></td>
    <td><%= thermo_oil_demand.demandDate %></td>
    <td><%= thermo_oil_demand.year_id %></td>
    <td><%= thermo_oil_demand.thermoOilConsumptionYear_id %></td>
    <td><%= link_to 'Show', thermo_oil_demand %></td>
    <td><%= link_to 'Edit', edit_thermo_oil_demand_path(thermo_oil_demand) %></td>
    <td><%= link_to 'Destroy', thermo_oil_demand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thermo oil demand', new_thermo_oil_demand_path %>
