<%= form_for(@cold_consumption) do |f| %>
  <% if @cold_consumption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cold_consumption.errors.count, "error") %> prohibited this cold_consumption from being saved:</h2>

      <ul>
      <% @cold_consumption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
	<td><%= f.label :coldProduction_id, "Kälteproduktion" %></td>
    <td><%= f.select :coldProduction_id, ColdProduction.all.map{|p| [p.buildType, p.id]}%></td>
    <td><%= f.label :coldDistribution_id, "Kälteverteilung Durchmesser" %></td>
    <td><%= f.select :coldDistribution_id, ColdDistribution.all.map{|c| [c.aperture, c.id]}%></td>
  </tr>
  <tr>
    <td><%= f.label :machinery_id, "Kälteverbraucher" %></td>
    <td colspan=3><%= f.select :machinery_id, Machinery.all.map{|m| [m.name, m.id]}%></td>
  </tr>
  <tr>
    <td><%= f.label :profitCapacity, "Nutzenleistung" %></td>
    <td><%= f.number_field :profitCapacity %> kW</td>
    <td><%= f.label :requirementType %></td>
    <td><%= f.select :requirementType, ["konstant", "taktgebunden", "manuell"] %></td>
  </tr>
</table>


  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
