<h1>Kälteverbraucher</h1>

<table>
  <tr>
    <th>Verbraucher</th>
    <th>Kälteproduktion</th>
    <th>Kälteverteilung</th>
    <th>Nutzenleistung</th>
    <th>Bedarfsart</th>
    <th>Aktion</th>
  </tr>

<% @cold_consumptions.each do |cold_consumption| %>
  <tr>
    <td><%= cold_consumption.machinery_id %></td>
    <td><%= cold_consumption.coldProduction_id %></td>
    <td><%= cold_consumption.coldDistribution_id %></td>
    <td><%= cold_consumption.profitCapacity %></td>
    <td><%= cold_consumption.requirementType %></td>

    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), cold_consumption %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_cold_consumption_path(cold_consumption)  %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), cold_consumption, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Kälteverbrauch', new_cold_consumption_path %>
