<% # encoding: UTF-8 %>

<p id="notice"><%= notice %></p>

<h2 xmlns="http://www.w3.org/1999/html">Checkliste <%= @checklist_definition.name %> </h2>

<form id="checklistform" name="checklistform" class="cmxform" method="post" action="updateform">
<table style="width: 100%;">
  <tr>
    <td>
      <label for="ausgefullt_von">Ausgefüllt von:</label>
      <input id="ausgefullt_von" type="text" value="<%= @checklist_properties.ausgefullt_von %>" autofocus="autofocus" name="ausgefullt_von" class="required" />
    </td>
    <td>
      Datum: <%= @checklist_properties.datum.strftime("%d.%m.%Y") %>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #dcdcdc;"><b>Unternehmensinformation</b>
    </td>
  </tr>
  <tr>
    <td>
      <label for="name_unternehmen">Name des Unternehmens:</label>
      <input id="name_unternehmen" type="text" value="<%= @checklist_properties.name_unternehmen %>" name="name_unternehmen" class="required" />
    </td>
    <td>
      <label for="adresse_unternehmen">Adresse:</label></br>
      <textarea id="adresse_unternehmen" name="adresse_unternehmen" rows="5" cols="30"><%= @checklist_properties.adresse_unternehmen %></textarea>
    </td>
  </tr>
  <tr>
    <td>
      <label for="branche_unternehmen">Branche:</label>
      <input id="branche_unternehmen" type="text" value="<%= @checklist_properties.branche_unternehmen %>" name="branche_unternehmen" class="required" />
    </td>
    <td>
      <label for="telefonnummer_unternehmen">Telefonnummer:</label>
      <input id="telefonnummer_unternehmen" type="text" value="<%= @checklist_properties.telefonnummer_unternehmen %>" name="telefonnummer_unternehmen" class="number" />
    </td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #dcdcdc;"><b>Kontaktperson für Energie</b></td>
  </tr>
  <tr>
    <td>
      <label for="name_kontaktpersonenergie">Name:</label>
      <input id="name_kontaktpersonenergie" type="text" value="<%= @checklist_properties.name_kontaktpersonenergie %>" name="name_kontaktpersonenergie" class="required" />
    </td>
    <td>
      <label for="telefonnummer_kontaktpersonenergie">Telefonnummer:</label>
      <input id="telefonnummer_kontaktpersonenergie" type="text" value="<%= @checklist_properties.telefonnummer_kontaktpersonenergie %>" name="telefonnummer_kontaktpersonenergie" class="number" />
    </td>
  </tr>
  <tr>
    <td>
      <label for="positionimunternehmen_kontaktpersonenergie">Position im Unternehmen:</label>
      <input id="positionimunternehmen_kontaktpersonenergie" type="text" value="<%= @checklist_properties.positionimunternehmen_kontaktpersonenergie %>" name="positionimunternehmen_kontaktpersonenergie" class="required" />
    </td>
    <td>
      <label for="email_kontaktpersonenergie">Email:</label>
      <input id="email_kontaktpersonenergie" type="text" value="<%= @checklist_properties.email_kontaktpersonenergie %>" name="email_kontaktpersonenergie" class="{validate:{required:true, email:true, messages:{required:'Please enter your email address', email:'Please enter a valid email address'}}}" />
    </td>
  </tr>
</table>

<% c=0 %>
<% item=0 %>

<table border="1">

<% if(@checklist_definition.checktype=="Ja und Nein") %>
    <tr>
      <td></td>
      <td><b>Ja</b></td>
      <td><b>Nein</b></td>
    </tr>
<% elsif(@checklist_definition.checktype=="Opt")  %>
    <tr>
      <td rowspan="2"></td>
      <td colspan="3"><b>Priorität der Maßnahme</b></td>
    </tr>
    <tr>
      <td><b>Ja</b></td>
      <td><b>Nein</b></td>
      <td><b>Opt</b></td>
    </tr>
<% else %>
    <tr>
      <td rowspan="2"></td>
      <td colspan="3"><b>Priorität der Maßnahme</b></td>
    </tr>
    <tr>
      <td><b>S</b></td>
      <td><b>M</b></td>
      <td><b>L</b></td>
    </tr>
<% end %>
<% item_order=0 %>
<% @checklist_categories.each do |cat| %>
    <ul>
      <tr>
        <td colspan="4" style="background-color: gray;"><b><%= cat.name %></b></td>
      </tr>
      <% @checklist_data.each do |data| %>
          <% c=0 %>
          <% if(cat.id==data.checklist_category_id) %>
              <% if(data.item_head=='') %>
                  <tr>
                    <td><li></datalist><%= data.name  %></li></td>
                    <% if(@checklist_definition.checktype=="Ja und Nein") %>
                        <% if(@checklist[item].boolean_value)%>
                            <td><input  type="radio" id="<%=data.id%>" value=true name="<%= "item_#{data.id}"  %>" validate="required:true" checked="true" /></td>
                            <td><input  type="radio" id="<%=data.id%>" value=false name="<%="item_#{data.id}" %>" validate="required:true" /></td>
                            <% item = item + 1 %>
                        <% else %>
                            <td><input  type="radio" id="<%=data.id%>" value=true name="<%= "item_#{data.id}"  %>" validate="required:true"/></td>
                            <td><input  type="radio" id="<%=data.id%>" value=false name="<%= "item_#{data.id}"  %>" validate="required:true" checked="true" /></td>
                            <% item = item + 1 %>
                        <% end %>
                    <% elsif (@checklist_definition.checktype=="Opt")  %>
                        <% if(@checklist[item].boolean_value)%>
                            <td><input  type="radio" id="<%=data.id%>" value=true name="<%= "item_#{data.id}"  %>" validate="required:true" checked="true" /></td>
                            <td><input  type="radio" id="<%=data.id%>" value=false name="<%= "item_#{data.id}"  %>" validate="required:true" /></td>
                        <% else %>
                            <td><input  type="radio" id="<%=data.id%>" value=true name="<%= "item_#{data.id}"  %>" validate="required:true" /></td>
                            <td><input  type="radio" id="<%=data.id%>" value=false name="<%= "item_#{data.id}"  %>" validate="required:true" checked="true" /> </td>
                        <% end %>
                        <% if(@checklist[item].string_value == 'true')%>
                            <td>
                              <input type="hidden" value=false id="<%=data.id%>" name="<%="citem_#{data.id}"%> " />
                              <input type="checkbox" value=true id="<%=data.id%>" name="<%="citem_#{data.id}" %>" checked="true" />
                            <% item = item + 1 %>
                        <% else %>
                            <td>
                              <input type="hidden" value=false id="<%=data.id%>" name="<%="citem_#{data.id}"%> " />
                              <input type="checkbox" value=true id="<%=data.id%>" name="<%="citem_#{data.id}" %>" />
                            </td>
                            <% item = item + 1 %>
                        <% end %>
                    <% else %>
                        <% if(@checklist[item].string_value == 'S')%>
                            <td><input  type="radio" id="<%=data.id%>" value="S" name="<%= "item_#{data.id}"  %>" validate="required:true" checked="true"/></td>
                            <td><input  type="radio" id="<%=data.id%>" value="M" name="<%="item_#{data.id}" %>" validate="required:true" /></td>
                            <td><input  type="radio" id="<%=data.id%>" value="L" name="<%="item_#{data.id}" %>" validate="required:true" /></td>
                            <% item = item + 1 %>
                        <% elsif (@checklist[item].string_value == 'M')  %>
                            <td><input  type="radio" id="<%=data.id%>" value="S" name="<%= "item_#{data.id}"  %>" validate="required:true" /></td>
                            <td><input  type="radio" id="<%=data.id%>" value="M" name="<%="item_#{data.id}" %>" validate="required:true" checked="true" /></td>
                            <td><input  type="radio" id="<%=data.id%>" value="L" name="<%="item_#{data.id}" %>" validate="required:true" /></td>
                            <% item = item + 1 %>
                        <% else %>
                            <td><input  type="radio" id="<%=data.id%>" value="S" name="<%= "item_#{data.id}"  %>" validate="required:true" /></td>
                            <td><input  type="radio" id="<%=data.id%>" value="M" name="<%="item_#{data.id}" %>" validate="required:true" /></td>
                            <td><input  type="radio" id="<%=data.id%>" value="L" name="<%="item_#{data.id}" %>" validate="required:true" checked="true"/></td>
                            <% item = item + 1 %>
                        <% end %>
                    <% end %>
                  </tr>
              <% else%>
                  <% if(item_order==0 || item_order != data.item_order ) %>

                      <% @checklist_b.each do |b| %>

                          <% if(b.checklist_category_id == data.checklist_category_id && b.item_order == data.item_order  ) %>
                              <% item_order = b.item_order %>
                              <% if(c==0) %>
                                  <tr>
                                    <td colspan="4" style="background-color: #cccccc;">
                                      <b><%= b.item_head %></b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td><li><%= b.name  %></li></td>

                                    <% if(@checklist_definition.checktype=="Ja und Nein") %>
                                        <% if(@checklist[item].boolean_value)%>
                                            <td><input  type="radio" id="<%= b.id %>" value=true name="<%= "item_#{b.id}"  %>" validate="required:true" checked="true"/></td>
                                            <td><input  type="radio" id="<%= b.id %>" value=false name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <% item = item + 1 %>
                                        <% else %>
                                            <td><input  type="radio" id="<%= b.id %>" value=true name="<%= "item_#{b.id}"  %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value=false name="<%="item_#{b.id}" %>" validate="required:true" checked="true"/></td>
                                            <% item = item + 1 %>
                                        <% end %>
                                    <% elsif (@checklist_definition.checktype=="Opt")  %>
                                        <% if(@checklist[item].boolean_value)%>
                                            <td><input  type="radio" id="<%= b.id %>" value=true name="<%= "item_#{b.id}"  %>" validate="required:true" checked="true"/></td>
                                            <td><input  type="radio" id="<%= b.id %>" value=false name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                        <% else %>
                                            <td><input  type="radio" id="<%= b.id %>" value=true name="<%= "item_#{b.id}"  %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value=false name="<%="item_#{b.id}" %>" validate="required:true" checked="true"/></td>
                                        <% end %>
                                        <% if(@checklist[item].string_value == 'true')%>
                                            <td>
                                              <input type="hidden" value=false id="<%=b.id%>" name="<%="item_#{b.id}" %>"  />
                                              <input type="checkbox" value=true id="<%=b.id%>" name="<%="citem_#{b.id}" %>" checked="true" />
                                            </td>
                                            <% item = item + 1 %>
                                        <% else %>
                                            <td>
                                              <input type="hidden" value=false id="<%=b.id%>" name="<%="item_#{b.id}" %>"  />
                                              <input type="checkbox" value=true id="<%=b.id%>" name="<%="citem_#{b.id}" %>" />
                                            </td>
                                            <% item = item + 1 %>
                                        <% end %>
                                    <% else %>
                                        <% if(@checklist[item].string_value == 'S')%>
                                            <td><input  type="radio" id="<%= b.id %>" value="S" name="<%= "item_#{b.id}"  %>" validate="required:true" checked="true"/></td>
                                            <td><input  type="radio" id="<%= b.id %>" value="M" name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value="L" name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <% item = item + 1 %>
                                        <% elsif (@checklist[item].string_value == 'M')  %>
                                            <td><input  type="radio" id="<%= b.id %>" value="S" name="<%= "item_#{b.id}"  %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value="M" name="<%="item_#{b.id}" %>" validate="required:true" checked="true"/></td>
                                            <td><input  type="radio" id="<%= b.id %>" value="L" name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <% item = item + 1 %>
                                        <% else %>
                                            <td><input  type="radio" id="<%= b.id %>" value="S" name="<%= "item_#{b.id}"  %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value="M" name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value="L" name="<%="item_#{b.id}" %>" validate="required:true" checked="true" /></td>
                                            <% item = item + 1 %>
                                        <% end %>
                                    <% end %>
                                  </tr>
                                  <% c=1 %>
                              <% else %>
                                  <tr>
                                    <td><li><%= b.name  %></li></td>
                                    <% if(@checklist_definition.checktype=="Ja und Nein") %>
                                        <% if(@checklist[item].boolean_value)%>
                                            <td><input  type="radio" id="<%= b.id %>" value=true name="<%= "item_#{b.id}"  %>" validate="required:true" checked="true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value=false name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <% item = item + 1 %>
                                        <% else %>
                                            <td><input  type="radio" id="<%= b.id %>" value=true name="<%= "item_#{b.id}"  %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value=false name="<%="item_#{b.id}" %>" validate="required:true" checked="true" /></td>
                                            <% item = item + 1 %>
                                        <% end %>
                                    <% elsif (@checklist_definition.checktype=="Opt")  %>
                                        <% if(@checklist[item].boolean_value)%>
                                            <td><input  type="radio" id="<%= b.id %>" value=true name="<%= "item_#{b.id}"  %>" validate="required:true" checked="true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value=false name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                        <% else %>
                                            <td><input  type="radio" id="<%= b.id %>" value=true name="<%= "item_#{b.id}"  %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id %>" value=false name="<%="item_#{b.id}" %>" validate="required:true" checked="true" /></td>
                                        <% end %>
                                        <% if(@checklist[item].string_value == 'true')%>
                                            <td>
                                              <input type="hidden" value=false id="<%= data. id%>" name="<%="item_#{b.id}" %>" />
                                              <input type="checkbox" value=true id="<%= data.id %>" name="<%="citem_#{b.id}" %>" checked="true"/>
                                            </td>
                                            <% item = item + 1 %>
                                        <% else %>
                                            <td>
                                                <input type="hidden" value=false id="<%= data. id%>" name="<%="item_#{b.id}" %>" />
                                                <input type="checkbox" value=true id="<%= data.id %>" name="<%="citem_#{b.id}" %>" />
                                            </td>
                                            <% item = item + 1 %>
                                        <% end %>
                                    <% else %>
                                        <% if(@checklist[item].string_value == 'S')%>
                                            <td><input  type="radio" id="<%= b.id %>" value="S" name="<%= "item_#{b.id}"  %>" validate="required:true" checked="true" /></td>
                                            <td><input  type="radio" id="<%= b.id%>" value="M" name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id%>" value="L" name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <% item = item + 1 %>
                                        <% elsif (@checklist[item].string_value == 'M')  %>
                                            <td><input  type="radio" id="<%= b.id %>" value="S" name="<%= "item_#{b.id}"  %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id%>" value="M" name="<%="item_#{b.id}" %>" validate="required:true" checked="true" /></td>
                                            <td><input  type="radio" id="<%= b.id%>" value="L" name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <% item = item + 1 %>
                                        <% else %>
                                            <td><input  type="radio" id="<%= b.id %>" value="S" name="<%= "item_#{b.id}"  %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id%>" value="M" name="<%="item_#{b.id}" %>" validate="required:true" /></td>
                                            <td><input  type="radio" id="<%= b.id%>" value="L" name="<%="item_#{b.id}" %>" validate="required:true" checked="true" /></td>
                                            <% item = item + 1 %>
                                        <% end %>
                                    <% end %>
                                  </tr>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>

      <% end %>
    </ul>
<% end %>

</table>

<label for="notizen">Notizen / Ergänzungen:</label> </br>
<textarea id="notizen" name="notizen" rows="20" cols="90"><%= @checklist_properties.notizen%></textarea>

<input type="hidden" id="checklist_definition_id" name="checklist_definition_id" value="<%=@checklist_definition.id %>" ></br>
<input type="hidden" id="checklist_property_id" name="checklist_property_id" value="<%=@checklist_properties.id %>" ></br>
<input id="submitbutton" class="btn btn-primary" type="submit" value="Speichern" name="submit"/>
<input id="resetbutton" class="btn btn-primary" type="reset" value="Zurücksetzen" name="reset"/>
</form>

</br>
<%= link_to image_tag("zurueck.png", size: "20x20", alt: "Zurück"), {:controller=>'sites', :action=>'checklists_manager'}%>
