<p id="notice"><%= notice %></p>

<p>
  <b>Deliveryrate10:</b>
  <%= @speed_regulation.deliveryRate10 %>
</p>

<p>
  <b>Deliveryrate20:</b>
  <%= @speed_regulation.deliveryRate20 %>
</p>

<p>
  <b>Deliveryrate30:</b>
  <%= @speed_regulation.deliveryRate30 %>
</p>

<p>
  <b>Deliveryrate40:</b>
  <%= @speed_regulation.deliveryRate40 %>
</p>

<p>
  <b>Deliveryrate50:</b>
  <%= @speed_regulation.deliveryRate50 %>
</p>

<p>
  <b>Deliveryrate60:</b>
  <%= @speed_regulation.deliveryRate60 %>
</p>

<p>
  <b>Deliveryrate70:</b>
  <%= @speed_regulation.deliveryRate70 %>
</p>

<p>
  <b>Deliveryrate80:</b>
  <%= @speed_regulation.deliveryRate80 %>
</p>

<p>
  <b>Deliveryrate90:</b>
  <%= @speed_regulation.deliveryRate90 %>
</p>

<p>
  <b>Year:</b>
  <%= @speed_regulation.year_id %>
</p>


<%= link_to 'Edit', edit_speed_regulation_path(@speed_regulation) %> |
<%= link_to 'Back', speed_regulations_path %>
