<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<tr>
	<%# f.label :enterprise_id %><br />
	<%# @enterprise = User.find(session[:user_id]).enterprise_id %>
    <%# f.hidden_field :enterprise_id, :value => @enterprise %>

    <td><%= f.label :energy_type, "Energieart" %></td>
    <td><%= f.select :energy_type, ["Strom", "Gas", "Wasser", "Öl", "Heizung"]%></td>
    <td><%= f.label :supplier, "Energielieferant" %></td>
    <td><%= f.text_field :supplier %></td>
</tr>
<tr>
    <td><%= f.label :condition, "Konditionen" %></td>
    <td><%= f.text_field :condition %> € per Kilowattstunde</td>
    <td><%= f.label :contractNo, "Vertragsnummer" %></td>
    <td><%= f.text_field :contractNo %></td>
</tr>
<tr>
    <td><%= f.label :description, "Beschreibung" %></td>
    <td colspan=3><%= f.text_area :description, size: "90x3"%></td>
</tr>

<tr>
    <td><%= f.label :duration_from, "Vertragsdauer" %></td>
    <td colspan=3>von: <%= f.date_select :duration_from %><%= f.label :duration_to, "bis: " %> <%= f.date_select :duration_to %></td>
</tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
