<script language="javascript"> 
function toggle() {
	var ele = document.getElementById("toggleText");
	var text = document.getElementById("displayText");
	if(ele.style.display == "block") {
		ele.style.display = "none";
		text.innerHTML = "<img src='/assets/new.png', height=20>";
	}
	else {
		ele.style.display = "block";
		text.innerHTML = "<img src='/assets/new.png', height=20>";
	}
}
</script>

<h2>Energieliefervertrag #<%= @contract.contractNo %> <%= @contract.supplier %></h2>

<p>An dieser Stelle erfahren Sie alle Details zum oben genannten Energieliefervertrag. Zum Bearbeiten der Angaben benutzen Sie bitte die dafür vorgesehenen Schaltflächen. Weiter unten finden Sie weiterhin alle zu diesem Vertrag zugeordneten Energierechnungen, sowie eine interaktive Ansicht der Zusammensetzung ihres Strommixes.</p>

<div id='chart' align="center" style='width: 800px; height: 300px;'></div>
<%= render_chart @chart, 'chart' %><br>

<table>
	<tr>
		<th>Energieart:</th>
		<td><%= EnergyType.find(@contract.energy_type_id).energy_type %></td>
	</tr>
	<tr>
		<th>Energielieferant</th>
		<td><%= @contract.supplier %></td>
	</tr>
	<tr>
		<th>Beschreibung:</th>
		<td><%= @contract.description %></td>
	</tr>
	<tr>
		<th>Konditionen:</th>
		<td><%= number_to_currency(@contract.condition, :precision => 2, :unit => "") %> €/kWh</td>
	</tr>
	<tr>
		<th>Vertragsdauer</th>
		<td><%= @contract.duration_from.strftime('%d.%m.%Y')  %> - <%= @contract.duration_to.strftime('%d.%m.%Y')  %></td>
	</tr>
	<tr>
		<th colspan=2 align="right"><%= link_to image_tag("zurueck.png", size: "20x20", alt: 'Zurück'), contracts_path %>   <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_contract_path(@contract) %></th>
	</tr>
</table>
<br><br>
<h3>Energieabrechnungen</h3>

<table class="zentriert">
  <tr>
    <th>Betrag</th>
    <th>Verbrauch</th>
	<th>€ pro kWh</th>
    <th>Rechnungsdatum</th>
    <th>Abrechnungszeitraum</th>
    <th>Aktion</th>
  </tr>
<% @bills.each do |bill| %>

  <tr>
    <td><%= number_with_precision(bill.value, :precision =>2) %> Euro</td>
    <td><%= bill.consumption %> kW/h</td>
	<td><%= number_with_precision(bill.consumption/bill.value, :precision =>2) %> €</td>
    <td><%= bill.date.strftime('%d.%m.%Y') %></td>
    <td><%= bill.period_from.strftime('%d.%m.%Y') %> - <%= bill.period_to.strftime('%d.%m.%Y') %></td>
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), bill %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_bill_path(bill) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), bill, method: :delete, data: { confirm: 'Are you sure?' }  %>
    </td>
  </tr>
<% end %>
<tr><th colspan=6><a id="displayText" href="javascript:toggle();"><%= image_tag "new.png", size: "20x20" %></a></th></tr>
</table>

<div id="toggleText" style="display: none">
<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
<tr>
    <td><%= f.label "Energievertrag"%></td>
	<% contracts = Contract.find_all_by_enterprise_id(current_user.enterprise_id)%>
    <td><%= f.select :contract_id, contracts.collect{ |u| [u.supplier + " - " + EnergyType.find(u.energy_type_id).energy_type, u.id] }%>
    <td><%= f.label "Zähler"%></td>
    <td><%= f.select :meterId, Meter.all.map{|m| [m.name, m.id]}%></td>
</tr>
<tr>
    <td><%= f.label :date, "Rechnungsdatum" %></td>
    <td colspan=3><%= f.date_select :date %></td>
</tr>
<tr>
    <td><%= f.label :value, "Abrechnungskosten" %></td>
    <td><%= f.text_field :value %> Euro</td>
    <td><%= f.label :consumption, "Verbrauch" %></td>
    <td><%= f.text_field :consumption %> kWh</td>
</tr>
<tr>
    <td><%= f.label :period_from, "Verbrauchszeitraum" %></td>
	<td colspan=3>von: <%= f.date_select :period_from %><%= f.label :period_to, "bis: " %><%= f.date_select :period_to %></td>
</tr>
<tr><th colspan=4><%= f.submit "Formular absenden"%></th></tr>
</table>
<% end %>
</div>


<!--Wennn es sich um einen Stromliefervertrag handelt, dann zeige auch den Energiemix an-->
<% if @contract.energy_type_id == EnergyType::ELECTRICITY %>
<h3>Energie-Mix</h3>
<p>Das folgende Chart stellt den Energiemix für diesen Vertrag dar. Je höher der Anteil der erneuerbaren Energien, umso geringer der Verbrauch von CO&sup2;. Mit Klick auf den Stift können Sie die Angaben für den Energiemix bearbeiten. Diese erhalten Sie normalerweise automatisch von Ihrem Energielieferanten.</p>

<div id='chart2' align="center" style='width: 800px; height: 300px;'></div>
<%= render_chart @chart2, 'chart2' %><br>
<table>
	<tr>
		<th align="right">Angaben zum Energiemix dieses Vertrags bearbeiten:&nbsp;&nbsp;<%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), new_energy_mix_path %></th>
	</tr>
</table>
<% end %>

<!--<h2>Angebundene Zähler</h2>

<table class="zentriert">
	<tr>
		<%# @meter = Meter.find_all_by_contract_id(@contract.id)%>
		<%# @meter.each do |met| %>
		<td><%# met.name%></td>
		<%# end %>
	<tr>
</table>-->
