<%= stylesheet_link_tag("jquery.dataTables.css") %>
<%= javascript_include_tag("jquery.js") %>
<%= javascript_include_tag("jquery.dataTables.min.js") %>
<%= javascript_include_tag("jquery.dataTables.de.js") %>

<h2>Maßnahmen zur Energieeffizienz</h2>

<table id="t">
  <thead>
  <tr>
    <th>Item</th>
    <th>Beschreibung</th>
    <th>Checkliste</th>
    <th>Kategorie</th>
    <th style="width: 70px;">Aktion</th>
  </tr>
  </thead>

  <tbody>
  <% @checklist_category_items.each do |checklist_category_item| %>
      <tr>
        <td><%= checklist_category_item.name %></td>
        <td><%= checklist_category_item.description %></td>
        <td><%= ChecklistDefinition.find(checklist_category_item.checklist_definition_id).name %></td>
        <td><%= ChecklistCategory.find(checklist_category_item.checklist_category_id).name %></td>
        <td>
          <%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), checklist_category_item  %>
          <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_checklist_category_item_path(checklist_category_item) %>
          <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), checklist_category_item, method: :delete, data: { confirm: 'Are you sure?' }  %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />
<br />
<br />

<%= link_to image_tag("zurueck.png", size: "20x20", alt: "Zurück"), 'sites/checklists_manager' %>
<%= link_to image_tag("new.png", size: "20x20", alt: "Neue Item"), new_checklist_category_item_path %>
