<h1>Liste der Dampfverbraucher</h1>
<h2>DP = Dampfparameter</h2>

<table>
  <tr>
    <th>Verbraucher</th>
    <th>Dampferzeuger</th>
    <th>System</th>
    <th>Benötigter Druck DP</th>
    <th>Benötigte Temperatur DP</th>
    <!--<th>Massflownennneeded</th>
    <th>Massflowminneeded</th>
    <th>Massflowmaxneeded</th>
    <th>Requirementtype</th>-->
    <th>Aktion</th>
  </tr>

<% @steam_consumptions.each do |steam_consumption| %>
  <tr>
    <td><%= steam_consumption.consumer_id %></td>
    <td><%= SteamProduction.find_by_id(steam_consumption.steamProduction_id).kettleName %></td>
    <td><%= steam_consumption.system %></td>
    <td><%= steam_consumption.dpCompressionNeeded %></td>
    <td><%= steam_consumption.dpTemperatureNeeded %></td>
    <!--<td><%= steam_consumption.massFlowNennNeeded %></td>
    <td><%= steam_consumption.massFlowMinNeeded %></td>
    <td><%= steam_consumption.massFlowMaxNeeded %></td>
    <td><%= steam_consumption.requirementType %></td>-->
    
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), steam_consumption %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_steam_consumption_path(steam_consumption) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), steam_consumption, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuen Dampfverbraucher anlegen', new_steam_consumption_path %>
