<%= form_for(@cold_demand) do |f| %>
  <% if @cold_demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cold_demand.errors.count, "error") %> prohibited this cold_demand from being saved:</h2>

      <ul>
      <% @cold_demand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
  <tr>
    <td><%= f.label :coldConsumptionYear_id, "Kälteverbrauch" %></td>
    <td><%= f.number_field :coldConsumptionYear_id %></td>
    <td><%= f.label :machinery_id, "Kälteverbraucher" %></td>
    <td><%= f.number_field :machinery_id %></td>
  </tr>
  <tr>
    <td><%= f.label :demandDate, "Datum" %></td>
    <td colspan="3"><%= f.date_select :demandDate %></td>
  </tr>
  <tr>
    <td><%= f.label :timeFrom, "Von" %></td>
    <td><%= f.time_select :timeFrom %></td>
    <td><%= f.label :timeTo, "Bis" %></td>
    <td><%= f.time_select :timeTo %></td>
  </tr>
</table>



  <div class="actions">
    <%= f.submit "Absenden"%>
  </div>
<% end %>
