<h1>Listing cold_demands</h1>

<table>
  <tr>
    <th>Timefrom</th>
    <th>Timeto</th>
    <th>Demanddate</th>
    <th>Coldconsumptionyear</th>
    <th>Machinery</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cold_demands.each do |cold_demand| %>
  <tr>
    <td><%= cold_demand.timeFrom %></td>
    <td><%= cold_demand.timeTo %></td>
    <td><%= cold_demand.demandDate %></td>
    <td><%= cold_demand.coldConsumptionYear_id %></td>
    <td><%= cold_demand.machinery_id %></td>
    <td><%= link_to 'Show', cold_demand %></td>
    <td><%= link_to 'Edit', edit_cold_demand_path(cold_demand) %></td>
    <td><%= link_to 'Destroy', cold_demand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cold demand', new_cold_demand_path %>
