<%= form_for(@cold_production_year) do |f| %>
  <% if @cold_production_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cold_production_year.errors.count, "error") %> prohibited this cold_production_year from being saved:</h2>

      <ul>
      <% @cold_production_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
  <tr>
    <td><%= f.label :coldProduction_id, "Kälteproduktion" %></td>
    <td colspan="3"><%= f.number_field :coldProduction_id %></td>
  </tr>
  <tr>
    <td><%= f.label :operatingHours, "Betriebsstunden" %></td>
    <td><%= f.number_field :operatingHours %> h</td>
    <td><%= f.label :energyConsumption, "Strombezug" %></td>
    <td><%= f.number_field :energyConsumption %> kWh/a</td>
  </tr>
  <tr>
    <td><%= f.label :coldAmount, "Kältemenge" %></td>
    <td><%= f.number_field :coldAmount %> kWh/a</td>
    <td><%= f.label :massFlow, "Massenstrom" %></td>
    <td><%= f.number_field :massFlow %> kg/s</td>
  </tr>
  <tr>
    <td><%= f.label :flowTemperature, "Vorlauftemperatur" %></td>
    <td><%= f.number_field :flowTemperature %> °C</td>
    <td><%= f.label :returnTemperature, "Rücklauftemperatur" %></td>
    <td><%= f.number_field :returnTemperature %> °C</td>
  </tr>
  <tr>
    <td><%= f.label :temperatureIn, "Temperatur ein" %></td>
    <td><%= f.number_field :temperatureIn %> °C</td>
    <td><%= f.label :temperatureOut, "Temperatur aus" %></td>
    <td><%= f.number_field :temperatureOut %> °C</td>
  </tr>
  <tr>
    <td><%= f.label :waterRequirement, "Wasserbedarf" %></td>
    <td colspan="3"><%= f.number_field :waterRequirement %> m&sup3;/a</td>
  </tr>
</table>


  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
