<h1>Druckluftverbraucher - jährliche Erhebung</h1>

<table>
  <tr>
    <th>Verbrauch</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compressed_air_consumption_years.each do |compressed_air_consumption_year| %>
  <tr>
    <td><%= compressed_air_consumption_year.verbrauch %></td>
    <td><%= compressed_air_consumption_year.year_id %></td>
    <td><%= link_to 'Show', compressed_air_consumption_year %></td>
    <td><%= link_to 'Edit', edit_compressed_air_consumption_year_path(compressed_air_consumption_year) %></td>
    <td><%= link_to 'Destroy', compressed_air_consumption_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue jährliche Erhebung', new_compressed_air_consumption_year_path %>
