<%= form_for(@cold_production) do |f| %>
  <% if @cold_production.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cold_production.errors.count, "error") %> prohibited this cold_production from being saved:</h2>

      <ul>
      <% @cold_production.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <td><%= f.label :manufacturer, "Hersteller" %></td>
    <td><%= f.text_field :manufacturer %></td>
    <td><%= f.label :buildType, "Bauart" %></td>
    <td><%= f.text_field :buildType %></td>
  </tr>
  <tr>
    <td><%= f.label :yearOfManufacturing, "Baujahr" %></td>
    <td><%= f.number_field :yearOfManufacturing %></td>
    <td><%= f.label :capacity, "Elektrische Leistung" %></td>
    <td><%= f.number_field :capacity %> kW</td>
  </tr>
<tr>
    <td><%= f.label :detachablePart, "Abschaltbarer Anteil" %></td>
    <td><%= f.number_field :detachablePart %> %</td>
    <td><%= f.label :detachDuration, "Abschaltdauer" %></td>
    <td><%= f.number_field :detachDuration %> min</td>
</tr>
<tr>
    <td><%= f.label :detachTerm, "Laufzeit bis zur nächsten Abschaltung" %></td>
    <td colspan=3><%= f.number_field :detachTerm %> min</td>
</tr>
  <tr>
    <td><%= f.label :coolingCapacity, "Kälteleistung" %></td>
    <td><%= f.number_field :coolingCapacity %> kW</td>
    <td><%= f.label :coolingMedium, "Kühlmittel Medium" %></td>
    <td><%= f.text_field :coolingMedium %></td>
  </tr>
  <tr>
    <td><%= f.label :rkWayOfCooling, "Art der Rückühlung" %></td>
    <td><%= f.text_field :rkWayOfCooling %></td>
    <td><%= f.label :rkCoolingMedium, "Rückkühlung Medium" %></td>
    <td><%= f.text_field :rkCoolingMedium %></td>
  </tr>
  <tr>
    <td><%= f.label :rkCapacity, "Rückkühlung Elektrische Leistung" %></td>
    <td colspan="3"><%= f.number_field :rkCapacity %> kW</td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
