<h1>Kälteproduktion</h1>

<table>
  <tr>
    <th>Hersteller</th>
    <th>Bauart</th>
    <th>Baujahr</th>
    <th>Elektrische Leistung</th>
    <th>Kühlleistung</th>
    <th>Kühlmedium</th>
    <!--<th>Rkwayofcooling</th>
    <th>Rkcoolingmedium</th>
    <th>Rkcapacity</th>-->
    <th>Aktion</th>
  </tr>

<% @cold_productions.each do |cold_production| %>
  <tr>
    <td><%= cold_production.manufacturer %></td>
    <td><%= cold_production.buildType %></td>
    <td><%= cold_production.yearOfManufacturing %></td>
    <td><%= cold_production.capacity %></td>
    <td><%= cold_production.coolingCapacity %></td>
    <td><%= cold_production.coolingMedium %></td>
    <!--<td><%= cold_production.rkWayOfCooling %></td>
    <td><%= cold_production.rkCoolingMedium %></td>
    <td><%= cold_production.rkCapacity %></td>-->
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), cold_production %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_cold_production_path(cold_production)  %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), cold_production, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Kälteproduktion', new_cold_production_path %>
