<%= form_for(@business_datum) do |f| %>
  <% if @business_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_datum.errors.count, "error") %> prohibited this business_datum from being saved:</h2>

      <ul>
      <% @business_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--Hidden Field -->
    <%# f.label :enterpriseId %><br />
    <%# f.number_field :enterpriseId %>
<table>
<tr>
    <td><%= f.label :year %></td>
    <td colspan = 3><%= f.number_field :year %></td>
</tr>
<tr>
    <td><%= f.label :annualSales, "Jahresumsatz" %></td>
    <td><%= f.text_field :annualSales %> Euro</td>
    <td><%= f.label :netIncome, "Einnahmen" %></td>
    <td><%= f.text_field :netIncome %> Euro</td>
</tr>
<tr>
    <td width = 100><%= f.label :energyEfficiencyInvestment, "Investitionen in Energieeffizienz" %></td>
    <td colspan=3><%= f.text_field :energyEfficiencyInvestment %> Euro</td>
</tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
