<p id="notice"><%= notice %></p>

<p>
  <b>Enterpriseid:</b>
  <%= @business_datum.enterpriseId %>
</p>

<p>
  <b>Year:</b>
  <%= @business_datum.year %>
</p>

<p>
  <b>Annualsales:</b>
  <%= @business_datum.annualSales %>
</p>

<p>
  <b>Netincome:</b>
  <%= @business_datum.netIncome %>
</p>

<p>
  <b>Energyefficiencyinvestment:</b>
  <%= @business_datum.energyEfficiencyInvestment %>
</p>


<%= link_to 'Edit', edit_business_datum_path(@business_datum) %> |
<%= link_to 'Back', business_data_path %>
