<h2>Zähler</h2>
<p>An dieser Stelle finden Sie alle durch Sie eingetragenen Zähler. Die Grafik zeigt die Verbräuche innerhalb Ihrer Ablesungen an. Wenn Sie regelmäßig die Zählerdaten erfassen ergibt sich an dieser Stelle ein Verbrauchsschema.</p>

  <!--<b>Enterprise:</b>-->
  <%# @meter.enterprise_id %>
<div id='chart' style='width: 1050px; height: 450px;'>
<%= render_chart @chart, 'chart' %>
</div>
<table>
	<tr><th colspan=2></th></tr>
	<tr>
  		<td width=100>Standort:</td>
  		<td><%= Location.find_by_id(@meter.location_id).name %></td>
	</tr>
	<tr>
  		<td>Zählertyp:</td>
  		<td><%= MeterType.find_by_id(@meter.meterType_id).name %></td>
	</tr>
	<tr>
  		<td>Bezeichnung:</td>
  		<td><%= @meter.name %></td>
	</tr>
	<tr>
		<td>Zählernummer:</td>
		<td><%= @meter.meterNo %></td>
	</tr>
	<tr>
  		<td>Beschreibung:</td>
  		<td><%= @meter.description %></td>
	</tr>
	<tr>
		<th colspan=2 align="right"><%= link_to image_tag("zurueck.png", size: "20x20", alt: 'Zurück'), meters_path %>   <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_meter_path(@meter) %></th>
	</tr>
</table>