<p id="notice"><%= notice %></p>

<p>
  <b>Manufacturer:</b>
  <%= @compressed_air_production.manufacturer %>
</p>

<p>
  <b>Version:</b>
  <%= @compressed_air_production.version %>
</p>

<p>
  <b>Yearofmanufacturing:</b>
  <%= @compressed_air_production.yearOfManufacturing %>
</p>

<p>
  <b>Capacity:</b>
  <%= @compressed_air_production.capacity %>
</p>

<p>
  <b>Nominaldeliveryrate:</b>
  <%= @compressed_air_production.nominalDeliveryRate %>
</p>

<p>
  <b>Pressuresettling:</b>
  <%= @compressed_air_production.pressureSettling %>
</p>

<p>
  <b>Raisingpressure:</b>
  <%= @compressed_air_production.raisingPressure %>
</p>

<p>
  <b>Breakpressure:</b>
  <%= @compressed_air_production.breakPressure %>
</p>

<p>
  <b>Loadcharacter:</b>
  <%= @compressed_air_production.loadCharacter %>
</p>

<p>
  <b>Facilitycharacter:</b>
  <%= @compressed_air_production.facilityCharacter %>
</p>

<p>
  <b>Location:</b>
  <%= @compressed_air_production.location_id %>
</p>

<p>
  <b>Speedregulation:</b>
  <%= @compressed_air_production.speedRegulation %>
</p>

<p>
  <b>Highercontrol:</b>
  <%= @compressed_air_production.higherControl %>
</p>

<p>
  <b>Support:</b>
  <%= @compressed_air_production.support %>
</p>

<p>
  <b>Redundancyrequirements:</b>
  <%= @compressed_air_production.redundancyRequirements %>
</p>

<p>
  <b>Pressureexhaust:</b>
  <%= @compressed_air_production.pressureExhaust %>
</p>

<p>
  <b>Coolingmedium:</b>
  <%= @compressed_air_production.coolingMedium %>
</p>

<p>
  <b>Airfrom:</b>
  <%= @compressed_air_production.airFrom %>
</p>

<p>
  <b>Airwhere:</b>
  <%= @compressed_air_production.airWhere %>
</p>

<p>
  <b>Heatrecovery:</b>
  <%= @compressed_air_production.heatRecovery %>
</p>

<p>
  <b>Heatapplicationarea:</b>
  <%= @compressed_air_production.heatApplicationArea %>
</p>


<%= link_to 'Edit', edit_compressed_air_production_path(@compressed_air_production) %> |
<%= link_to 'Back', compressed_air_production_path %>
