<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
	<tr>
	<td><%= f.label :firstname, "Vorname" %></td>
	<td><%= f.text_field :firstname %></td>
    <td><%= f.label :name, "Nachname" %></td>
    <td><%= f.text_field :name %></td>

</tr>
<tr>
    <td><%= f.label :username, "Benutzername" %></td>
    <td><%= f.text_field :username %></td>
    <td><%= f.label :password, "Passwort" %></td>
    <td><%= f.text_field :password %></td>
</tr>
<tr>
    <td><%= f.label :email, "Email" %></td>
    <td><%= f.text_field :email %></td>
    <td><%= f.label :position, "Position" %></td>
    <td><%= f.text_field :position %></td>
</tr>
<tr>
    <td><%= f.label :annotation, "Bemerkung" %></td>
    <td colspan=3><%= f.text_area :annotation, size: "75x3" %></td>
</tr>
<tr>
    <td><%= f.label "Rolle" %></td>
    <td><%= f.select :role_id, Role.all.map{|r| [r.role_name, r.id]}%></td>
    <td><%=f.label "Unternehmen" %></td>
    <td><%= f.select :enterprise_id, Enterprise.all.map{|e| [e.name, e.id]}%></td>
</table>
  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
