<h1>Listing production_data_types</h1>

<table>
  <tr>
    <th>Pd type</th>
    <th>Description text</th>
    <th>Unit</th>
    <th>Production data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @production_data_types.each do |production_data_type| %>
  <tr>
    <td><%= production_data_type.pd_type %></td>
    <td><%= production_data_type.description_text %></td>
    <td><%= production_data_type.unit %></td>
    <td><%= production_data_type.production_data_id %></td>
    <td><%= link_to 'Show', production_data_type %></td>
    <td><%= link_to 'Edit', edit_production_data_type_path(production_data_type) %></td>
    <td><%= link_to 'Destroy', production_data_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Production data type', new_production_data_type_path %>
