<p id="notice"><%= notice %></p>

<p>
  <b>Pd type:</b>
  <%= @production_data_type.pd_type %>
</p>

<p>
  <b>Description text:</b>
  <%= @production_data_type.description_text %>
</p>

<p>
  <b>Unit:</b>
  <%= @production_data_type.unit %>
</p>

<p>
  <b>Production data:</b>
  <%= @production_data_type.production_data_id %>
</p>


<%= link_to 'Edit', edit_production_data_type_path(@production_data_type) %> |
<%= link_to 'Back', production_data_types_path %>
