<p id="notice"><%= notice %></p>

<p>
  <b>Kettlename:</b>
  <%= @steam_production.kettleName %>
</p>

<p>
  <b>Kettlemanufaturer:</b>
  <%= @steam_production.kettleManufaturer %>
</p>

<p>
  <b>Kettlecapacity:</b>
  <%= @steam_production.kettleCapacity %>
</p>

<p>
  <b>Kettlesaturatedsteam:</b>
  <%= @steam_production.kettleSaturatedSteam %>
</p>

<p>
  <b>Burnertype:</b>
  <%= @steam_production.burnerType %>
</p>

<p>
  <b>Burnermanufacturer:</b>
  <%= @steam_production.burnerManufacturer %>
</p>

<p>
  <b>Burnermanufacturingyear:</b>
  <%= @steam_production.burnerManufacturingYear %>
</p>

<p>
  <b>Districtheatmin:</b>
  <%= @steam_production.districtHeatMin %>
</p>

<p>
  <b>Districtheatmax:</b>
  <%= @steam_production.districtHeatMax %>
</p>

<p>
  <b>Fueltype:</b>
  <%= @steam_production.fuelType %>
</p>

<p>
  <b>Fuelcapacity:</b>
  <%= @steam_production.fuelCapacity %>
</p>

<p>
  <b>Fuelvalue:</b>
  <%= @steam_production.fuelValue %>
</p>

<p>
  <b>Fuelvalueunit:</b>
  <%= @steam_production.fuelValueUnit %>
</p>

<p>
  <b>Exhaustheatrecovery:</b>
  <%= @steam_production.exhaustHeatRecovery %>
</p>

<p>
  <b>Ventcondenser:</b>
  <%= @steam_production.ventCondenser %>
</p>

<p>
  <b>O2control:</b>
  <%= @steam_production.o2Control %>
</p>

<p>
  <b>Chimney:</b>
  <%= @steam_production.chimney %>
</p>


<%= link_to 'Edit', edit_steam_production_path(@steam_production) %> |
<%= link_to 'Back', steam_productions_path %>
