<p id="notice"><%= notice %></p>
<h1>Jährliche Erhebungen</h1>
<table>
	<tr>
  		<th>Operatinghours:</th>
  		<td><%= @compressed_air_production_year.operatingHours %></td>
  		<th>Loadhours:</td>
  		<td><%= @compressed_air_production_year.loadHours %></td>
	</tr>
	<tr>
  		<th>Capacity:</td>
  		<td><%= @compressed_air_production_year.capacity %></td>
  		<th>Energyconsumption:</td>
  		<td><%= @compressed_air_production_year.energyConsumption %></td>
	</tr>
	<tr>
  		<th>Deliveryrate:</td>
  		<td><%= @compressed_air_production_year.deliveryRate %></td>
  		<th>Operatingcycles:</td>
  		<td><%= @compressed_air_production_year.operatingCycles %></td>
	</tr>
	<tr>
  		<th>Overtraveltimeidle:</td>
  		<td><%= @compressed_air_production_year.overtravelTimeIdle %></td>
  		<th>Pressuremin:</td>
  		<td><%= @compressed_air_production_year.pressureMin %></td>
	</tr>
	<tr>
  		<th>Pressureexhausttempmin:</td>
  		<td><%= @compressed_air_production_year.pressureExhaustTempMin %></td>
  		<th>Pressureexhausttempmax:</td>
  		<td><%= @compressed_air_production_year.pressureExhaustTempMax %></td>
	</tr>
	<tr>
  		<th>Advancetemp:</td>
  		<td><%= @compressed_air_production_year.advanceTemp %></td>
  		<th>Returntemp:</td>
  		<td><%= @compressed_air_production_year.returnTemp %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_compressed_air_production_year_path(@compressed_air_production_year) %> |
<%= link_to 'Back', compressed_air_production_years_path %>
