<%= stylesheet_link_tag("jquery.dataTables.css") %>
<%= javascript_include_tag("jquery.js") %>
<%= javascript_include_tag("jquery.dataTables.min.js") %>
<%= javascript_include_tag("jquery.dataTables.de.js") %>

<!--WELCOME SHOW-->
<h1>Herzlich Willkommen!</h1>

<p>
  Mit dieser Software haben Sie Ihre Energieverbräuche und andere energierelevanten Daten im Griff.
  Bei Fragen wenden Sie sich bitte an den Administrator <%= mail_to "admin@remo-green.de" %>.
</p>

<h2>
  <%= link_to image_tag("alert42x40.png", size: "15x15", alt: "Alarm"), warnings_path %>
  Folgende <%= link_to "Meldungen", warnings_path %> wurden durch das System generiert:
</h2>

<table class="display" id="warnings">
  <thead>
  <tr>
    <th>Meldung</th>
    <th>Beschreibung</th>
    <th>Periodizität</th>
    <th>Grund der Meldung</th>
  </tr>
  </thead>
  <tbody>
  <% Warning.all.each do |w| %>
    <% if DateTime.now > (w.event_source.classify.constantize.last.updated_at + w.periodicity.days) %>
      <tr>
        <td><%= link_to w.name, warning_path(w) %></td>
        <td><%= link_to w.description, warning_path(w) %></td>
        <td><%= link_to w.periodicity.to_s + " Tage", warning_path(w) %></td>
        <td><%= link_to "Diese Aufgabe wurde zum letzten Mal am " + w.event_source.classify.constantize.last.updated_at.strftime('%d.%m.%Y') + " durchgeführt.", warning_path(w) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

</br>

<h2>
  <%= link_to "Energieeffizienzziele", energy_goals_url %>
  (<%= link_to image_tag("new.png", size: "12x12", alt: "Neues Energieeffizienzziel definieren"), new_energy_goal_path %>)
</h2>

<table class="display" id="energy_goals">
  <thead>
    <tr>
      <th>Ziel - Beschreibung</th>
      <th>Fortschritt</th>
      <th>Checkliste</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
      <% EnergyGoal.all.each do |g|
        @goal_text = g.name == nil ? "" : g.name + " - "
        @goal_text += "von " + g.from_date.strftime("%d.%m.%Y") + " bis " + g.to_date.strftime("%d.%m.%Y")
        @goal_text += (g.concept_id == 1) ? " den " : " die "
        @goal_text += EnergyType.find(g.energy_type_id).energy_type + EnergyGoalConcept.find(g.concept_id).energy_goal_concept
        @goal_text += " um " + g.value.to_s + EnergyGoalMeasure.find(g.measure_id).energy_goal_measure
        @goal_text += " zu " + EnergyGoalType.find(g.goal_id).energy_goal_type %>
        <tr>
            <td><%= link_to raw(@goal_text), energy_goal_path(g) %></td>
            <td>
              <div id=<%= "energy_goal_chart_div" + g.id.to_s %> style="width: 100px; height: 50px;">
                <% @data_table = getEnergyGoalDataTable(g) %>
                <% @chart = GoogleVisualr::Interactive::ColumnChart.new(@data_table, getEnergyGoalSmallChartOpts(g)) %>
                <%= link_to render_chart(@chart, "energy_goal_chart_div" + g.id.to_s), energy_goal_path(g) %>
              </div>
            </td>
            <td align="center">
              <% percent = getCheckListProgress(ChecklistProperty.find(g.checklist_id)) %>
              <%= link_to progress_bar(percent, :color => 'info', :tiny=> true, :rounded => true), energy_goal_path(g) %>
            </td>
            <td align="center">
              <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_energy_goal_path(g) %> &nbsp;
              <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), g, method: :delete, data: { confirm: 'Soll dieses Energieeffizienzziel wirklich gelöscht werden?' } %>
            </td>
        </tr>
      <% end %>
  </tbody>
</table>

</br>

<h2>Symbole</h2>

<p>An dieser Stelle sind die wichtigsten Symbole der Anwendung und deren Bedeutung bzw. Funktion abgebildet.</p>

<table class="zentriert">
	<tr>
		<th width=50><%= image_tag("delete.png", size: "20x20")%></th><td>Löschen eines Datensatzes</td>
		<th><%= image_tag("new.png", size: "20x20")%></th><td>Anlegen eines neuen Datensatzes</td>
	</tr>
	<tr>
		<th><%= image_tag("show.png", size: "20x20")%></th><td>Anzeigen eines Datensatzes</td>
		<th><%= image_tag("zurueck.png", size: "20x20")%></th><td>Zurück zur vorherigen Ansicht</td>
	</tr>
	<tr>
		<th><%= image_tag("edit.png", size: "20x20")%></th><td>Bearbeiten eines Datensatzes</td>
		<th><%= image_tag("rauf.png", size: "20x20")%><%= image_tag("runter.png", size: "20x20")%></th><td>Detailansichten eines Dastensatzes<br>öffnen und schließen</td>
	</tr>
	<tr>
		<th><%= image_tag("bulb.png", size: "20x20")%></th><td>Zusätzliche Erklärungen/Informationen</td>
		<th><%= image_tag("mail.png", size: "20x20")%></th><td>E-mail versenden</td>
	</tr>
	<tr>
		<th><%= image_tag("red.png", size: "20x20")%></th><td>Verbesserung im Vergleich</td>
		<th><%= image_tag("green.png", size: "20x20")%></th><td>Keine Verbesserung im Vergleich</td>
	</tr>
</table>