<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
<tr>
    <td><%= f.label "Energievertrag"%></td>
    <td><%= f.select :contract_id, Contract.all.map{|c| [c.supplier + " " + " " + c.energy_type, c.id]}%></td>
    <td><%= f.label "Zähler"%></td>
    <td><%= f.select :meterId, Meter.all.map{|m| [m.name, m.id]}%></td>
</tr>
<tr>
    <td><%= f.label :date, "Rechnungsdatum" %></td>
    <td colspan=3><%= f.date_select :date %></td>
</tr>
<tr>
    <td><%= f.label :value, "Abrechnungskosten" %></td>
    <td><%= f.text_field :value %> Euro</td>
    <td><%= f.label :consumption, "Verbrauch" %></td>
    <td><%= f.text_field :consumption %> kWh</td>
</tr>

<tr>
    <td><%= f.label :period_from, "Verbrauchszeitraum" %></td>
	<td colspan=3>von: <%= f.date_select :period_from %><%= f.label :period_to, "bis: " %><%= f.date_select :period_to %></td>
</tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden"%>
  </div>
<% end %>
