<%= form_for(@cold_distribution) do |f| %>
  <% if @cold_distribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cold_distribution.errors.count, "error") %> prohibited this cold_distribution from being saved:</h2>

      <ul>
      <% @cold_distribution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td><%= f.label :coldProduction_id, "Kälteproduktion" %></td>
    <td colspan=3><%= f.select :coldProduction_id, ColdProduction.all.map{|c| [c.manufacturer, c.id]}%></td>
	<!--Brauchen wir wahrscheinlich nicht
    <td><%# f.label :coldConsumer_id, "Kälteverbrauch" %></td>
    <td><%# f.number_field :coldConsumer_id %></td>-->
  </tr>
  <tr>
    <td><%= f.label :aperture, "Durchmesser" %></td>
    <td><%= f.number_field :aperture %> mm</td>
    <td><%= f.label :isolation, "Isolation" %></td>
    <td><%= f.number_field :isolation %> mm</td>
  </tr>
  <tr>
    <td><%= f.label :length, "Länge" %></td>
    <td colspan="3"><%= f.number_field :length %> m</td>
  </tr>
  <tr>
    <td><%= f.label :volumeStreamNenn, "Volumenstrom Nenn" %></td>
    <td><%= f.number_field :volumeStreamNenn %> m&sup3;/h</td>
    <td><%= f.label :volumeStreamMin, "Volumenstrom Min" %></td>
    <td><%= f.number_field :volumeStreamMin %> m&sup3;/h</td>
  </tr>
  <tr>
    <td><%= f.label :volumeStreamMax, "Volumenstrom Max" %></td>
    <td colspan="3"><%= f.number_field :volumeStreamMax %> m&sup3;/h</td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
