<h1>Listing cold_distributions</h1>

<table>
  <tr>
    <th>Coldproduction</th>
    <th>Coldconsumer</th>
    <th>Aperture</th>
    <th>Isolation</th>
    <th>Length</th>
    <th>Volumestreamnenn</th>
    <th>Volumestreammin</th>
    <th>Volumestreammax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cold_distributions.each do |cold_distribution| %>
  <tr>
    <td><%= cold_distribution.coldProduction_id %></td>
    <td><%= cold_distribution.coldConsumer_id %></td>
    <td><%= cold_distribution.aperture %></td>
    <td><%= cold_distribution.isolation %></td>
    <td><%= cold_distribution.length %></td>
    <td><%= cold_distribution.volumeStreamNenn %></td>
    <td><%= cold_distribution.volumeStreamMin %></td>
    <td><%= cold_distribution.volumeStreamMax %></td>
    <td><%= link_to 'Show', cold_distribution %></td>
    <td><%= link_to 'Edit', edit_cold_distribution_path(cold_distribution) %></td>
    <td><%= link_to 'Destroy', cold_distribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cold distribution', new_cold_distribution_path %>
