<%= form_for(@produced_unit) do |f| %>
  <% if @produced_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produced_unit.errors.count, "error") %> prohibited this produced_unit from being saved:</h2>

      <ul>
      <% @produced_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :productRange_id %><br />
    <%= f.number_field :productRange_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
