<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @building.site_id %>
</p>

<p>
  <b>Name:</b>
  <%= @building.name %>
</p>

<p>
  <b>Description:</b>
  <%= @building.description %>
</p>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
