<%= form_for(@cold_distribution_year) do |f| %>
  <% if @cold_distribution_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cold_distribution_year.errors.count, "error") %> prohibited this cold_distribution_year from being saved:</h2>

      <ul>
      <% @cold_distribution_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td><%= f.label :coldProduction_id, "Kälteproduktion" %></td>
    <td><%= f.select :coldProduction_id, ColdProduction.all.map{|c| [c.manufacturer, c.id]}%></td>
    <td><%= f.label :coldConsumption_id, "Kälteverbrauch" %></td>
    <td colspan="3"><%= f.select :coldConsumption_id, Machinery.all.map{|c| [c.name, c.id]} %></td>
  </tr>
  <tr>
    <td><%= f.label :compression, "Druck" %></td>
    <td colspan="3"><%= f.number_field :compression %> bar Ü</td>
  </tr>
  <tr>
    <td><%= f.label :flowTemperature, "Vorlauftemperatur" %></td>
    <td><%= f.number_field :flowTemperature %> °C</td>
    <td><%= f.label :returnTemperature, "Rücklauftemperatur" %></td>
    <td><%= f.number_field :returnTemperature %> °C</td>
  </tr>
</table>



  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
