<h1>Listing cold_distribution_years</h1>

<table>
  <tr>
    <th>Compression</th>
    <th>Flowtemperature</th>
    <th>Returntemperature</th>
    <th>Coldconsumption</th>
    <th>Coldproduction</th>
    <th>Colddistribution</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cold_distribution_years.each do |cold_distribution_year| %>
  <tr>
    <td><%= cold_distribution_year.compression %></td>
    <td><%= cold_distribution_year.flowTemperature %></td>
    <td><%= cold_distribution_year.returnTemperature %></td>
    <td><%= cold_distribution_year.coldConsumption_id %></td>
    <td><%= cold_distribution_year.coldProduction_id %></td>
    <td><%= cold_distribution_year.coldDistribution_id %></td>
    <td><%= link_to 'Show', cold_distribution_year %></td>
    <td><%= link_to 'Edit', edit_cold_distribution_year_path(cold_distribution_year) %></td>
    <td><%= link_to 'Destroy', cold_distribution_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cold distribution year', new_cold_distribution_year_path %>
