<h1>Kälteverteilung jährliche Erhebung</h1>

<table>
  <tr>
    <th>Kälteproduktion</th>
    <th>Kälteverbauch</th>
    <th>Kälteverteilung</th>
    <th>Druck</th>
    <!--<th>Vorlauftemperatur</th>
    <th>Rücklauftemperatur</th>-->

    <th>Aktion</th>
  </tr>

<% @cold_distribution_years.each do |cold_distribution_year| %>
  <tr>
    <td><%= cold_distribution_year.coldProduction_id %></td>
    <td><%= cold_distribution_year.coldConsumption_id %></td>
    <td><%= cold_distribution_year.coldDistribution_id %></td>
    <td><%= cold_distribution_year.compression %></td>
    <!--<td><%= cold_distribution_year.flowTemperature %></td>
    <td><%= cold_distribution_year.returnTemperature %></td>-->

    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), cold_distribution_year %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_cold_distribution_year_path(cold_distribution_year)  %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), cold_distribution_year, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Kälteverteilung jährliche Erhebung', new_cold_distribution_year_path %>
