<h2>Messung vom <%= @measuring.dateFrom.strftime('%d.%m.%Y') %></h2>

<p>An dieser Stelle finden Sie die Ergebnisse der Messungen vom <%= @measuring.dateFrom.strftime('%d.%m.%Y') %> grafisch aufbereitet. Um diese Angaben zu bearbeiten, klicken Sie bitte auf das Stiftsymbol.</p>

<div id='chart' style='width: 1050px; height: 450px;'>
<%= render_chart @chart, 'chart' %>
</div>

<table>
	<tr><th colspan =2></th></tr>
	<tr>
		<td width=100>Messzeitraum</td>
		<td><%= @measuring.dateFrom.strftime('%d.%m.%Y') %> bis <%= @measuring.dateTo.strftime('%d.%m.%Y') %></td>
	</tr>
	<tr>
		<td>Messort:</td>
		<td><%= Location.find_by_id(@measuring.location_id).name %></td>
	</tr>
	<tr>
		<td>Kommentar:</td>
		<td><%= @measuring.description %></td>
	</tr>
	<tr><th align="right" colspan=2><%= link_to image_tag("edit.png", size: "20x20", alt: "Anzeigen"), edit_measuring_path(@measuring) %>
	<%= link_to image_tag("zurueck.png", size: "20x20", alt: "Anzeigen"), measurings_path %></th></tr>
</table>
<br>



