<%= form_for(@production_datum) do |f| %>
  <% if @production_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_datum.errors.count, "error") %> prohibited this production_datum from being saved:</h2>

      <ul>
      <% @production_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% user = User.find_by_id(session[:user_id]) %>
  <% enterprise = Enterprise.find_by_id(user.enterprise_id) %>
  <%= f.hidden_field :enterprise_id, :value => enterprise.id %>

<table>
	<tr>
  		<td><%= f.label :year, "Jahr" %></td>
  		<td colspan=3><%= f.number_field :year %></td>
	</tr>
	<tr>
  		<td><%= f.label :paperUsage, "Papierverbrauch" %></td>
  		<td><%= f.number_field :paperUsage %> t</td>
  		<td><%= f.label :inkUsage, "Farbverbrauch" %></td>
  		<td><%= f.number_field :inkUsage %> l</td>
	</tr>
	<tr>
  		<td><%= f.label :utilities, "Kosten Betriebsmittel" %></td>
  		<td colspan=3><%= f.number_field :utilities %> €</td>
	</tr>
	<tr>
  		<td><%= f.label :orders, "Anzahl Aufträge" %></td>
  		<td><%= f.number_field :orders %></td>
  		<td><%= f.label :clients, "Anzahl Kunden" %></td>
  		<td><%= f.number_field :clients %></td>
	</tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
