<%= form_for(@thermo_oil_consumption) do |f| %>
  <% if @thermo_oil_consumption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermo_oil_consumption.errors.count, "error") %> prohibited this thermo_oil_consumption from being saved:</h2>

      <ul>
      <% @thermo_oil_consumption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <td><%= f.label :thermoOilProduction_id, "Thermoölproduktion" %></td>
    <td><%= f.number_field :thermoOilProduction_id %></td>
    <td><%= f.label :thermoOilDistribution_id, "Thermoölverteilung" %></td>
    <td><%= f.number_field :thermoOilDistribution_id %></td>
  </tr>
  <tr>
    <td><%= f.label :machinery_id, "Thermoölverbraucher" %></td>
    <td colspan="3"><%= f.number_field :machinery_id %></td>
  </tr>
  <tr>
    <td><%= f.label :profitCapacity, "Nutzenleistung" %></td>
    <td><%= f.number_field :profitCapacity %></td>
    <td><%= f.label :requirementType, "Bedarfsart" %></td>
    <td><%= f.select :requirementType, ["konstant", "taktgebunden", "manuell"] %></td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit "Absenden"%>
  </div>
<% end %>
