<h1>Listing thermo_oil_consumptions</h1>

<table>
  <tr>
    <th>Thermooilproduction</th>
    <th>Machinery</th>
    <th>Profitcapacity</th>
    <th>Requirementtype</th>
    <th>Thermooildistribution</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thermo_oil_consumptions.each do |thermo_oil_consumption| %>
  <tr>
    <td><%= thermo_oil_consumption.thermoOilProduction_id %></td>
    <td><%= thermo_oil_consumption.machinery_id %></td>
    <td><%= thermo_oil_consumption.profitCapacity %></td>
    <td><%= thermo_oil_consumption.requirementType %></td>
    <td><%= thermo_oil_consumption.thermoOilDistribution_id %></td>
    <td><%= link_to 'Show', thermo_oil_consumption %></td>
    <td><%= link_to 'Edit', edit_thermo_oil_consumption_path(thermo_oil_consumption) %></td>
    <td><%= link_to 'Destroy', thermo_oil_consumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thermo oil consumption', new_thermo_oil_consumption_path %>
