<h1>Thermoölverbraucher</h1>

<table class="zentriert">
  <tr>
    <th>Thermoölproduktion</th>
    <th>Thermoölverteilung Durchmesser</th>
    <th>Verbraucher</th>
    <th>Nutzenleistung</th>
    <th>Bedarfsart</th>
    <th width=100>Aktion</th>
  </tr>

<% @thermo_oil_consumptions.each do |thermo_oil_consumption| %>
  <tr>
    <td><%= ThermoOilProduction.find_by_id(thermo_oil_consumption.thermoOilProduction_id).kettleName %></td>
    <td><%= ThermoOilDistribution.find_by_id(thermo_oil_consumption.thermoOilDistribution_id).aperture %> mm</td>
    <td><%= Machinery.find_by_id(thermo_oil_consumption.machinery_id).name %></td>
    <td><%= thermo_oil_consumption.profitCapacity %></td>
    <td><%= thermo_oil_consumption.requirementType %></td>
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), thermo_oil_consumption %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_thermo_oil_consumption_path(thermo_oil_consumption) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), thermo_oil_consumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuen Thermoölverbraucher anlegen', new_thermo_oil_consumption_path %>
