<%= form_for(@cold_consumption_year) do |f| %>
  <% if @cold_consumption_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cold_consumption_year.errors.count, "error") %> prohibited this cold_consumption_year from being saved:</h2>

      <ul>
      <% @cold_consumption_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
  <tr>
    <td><%= f.label :coldConsumption_id, "Kälteverbrauch" %></td>
    <td colspan="3"><%= f.number_field :coldConsumption_id %></td>
  </tr>
  <tr>
    <td><%= f.label :volumeStream, "Volumenstrom" %></td>
    <td colspan="3"><%= f.number_field :volumeStream %> m&sup3;/h</td>
  </tr>
  <tr>
    <td><%= f.label :flowTemperature, "Vorlauftemperatur" %></td>
    <td><%= f.number_field :flowTemperature %> °C</td>
    <td><%= f.label :returnTemperature, "Rücklauftemperatur" %></td>
    <td><%= f.number_field :returnTemperature %> °C</td>
  </tr>
  <tr>
    <td><%= f.label :processTemperature, "Prozesstemperatur" %></td>
    <td colspan="3"><%= f.number_field :processTemperature %> °C</td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit "Absenden"%>
  </div>
<% end %>
