<h1>Kälteverbrauch - jährliche Erhebung</h1>

<table>
  <tr>
    <th>Kälteverbraucher</th>
    <th>Volumenstrom</th>
    <th>Vorlauftemperatur</th>
    <th>Rücklauftemperatur</th>
    <!--<th>Prozesstemperatur</th>-->
    <th>Aktion</th>
  </tr>

<% @cold_consumption_years.each do |cold_consumption_year| %>
  <tr>
    <td><%= cold_consumption_year.coldConsumption_id %></td>
    <td><%= cold_consumption_year.volumeStream %></td>
    <td><%= cold_consumption_year.flowTemperature %></td>
    <td><%= cold_consumption_year.returnTemperature %></td>
    <!--<td><%= cold_consumption_year.processTemperature %></td>-->

    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), cold_consumption_year %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"),edit_cold_consumption_year_path(cold_consumption_year)  %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), cold_consumption_year, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Kälteverbrauch jährliche Erhebung', new_cold_consumption_year_path %>
