<h1>Listing cold_consumption_years</h1>

<table>
  <tr>
    <th>Volumestream</th>
    <th>Flowtemperature</th>
    <th>Returntemperature</th>
    <th>Processtemperature</th>
    <th>Coldconsumption</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cold_consumption_years.each do |cold_consumption_year| %>
  <tr>
    <td><%= cold_consumption_year.volumeStream %></td>
    <td><%= cold_consumption_year.flowTemperature %></td>
    <td><%= cold_consumption_year.returnTemperature %></td>
    <td><%= cold_consumption_year.processTemperature %></td>
    <td><%= cold_consumption_year.coldConsumption_id %></td>
    <td><%= link_to 'Show', cold_consumption_year %></td>
    <td><%= link_to 'Edit', edit_cold_consumption_year_path(cold_consumption_year) %></td>
    <td><%= link_to 'Destroy', cold_consumption_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cold consumption year', new_cold_consumption_year_path %>
