<h1>Heißwasserverbraucher</h1>

<table>
  <tr>
    <th>Heißwasserproduktion</th>
    <th>Heißwasserverbraucher</th>
    <th>Nutzenleistung</th>
    <th>Bedarfsart</th>
    <th>Aktion</th>
  </tr>

<% @hot_water_consumptions.each do |hot_water_consumption| %>
  <tr>
    <td><%= hot_water_consumption.hotWaterProduction_id %></td>
    <td><%= hot_water_consumption.machinery_id %></td>
    <td><%= hot_water_consumption.useCapacity %></td>
    <td><%= hot_water_consumption.requirementType %></td>
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), hot_water_consumption %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_hot_water_consumption_path(hot_water_consumption) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), hot_water_consumption, method: :delete, data: { confirm: 'Are you sure?' }   %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Heißwasserverbraucher', new_hot_water_consumption_path%>
