<%= form_for(@thermo_oil_distribution_year) do |f| %>
  <% if @thermo_oil_distribution_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermo_oil_distribution_year.errors.count, "error") %> prohibited this thermo_oil_distribution_year from being saved:</h2>

      <ul>
      <% @thermo_oil_distribution_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :compression %><br />
    <%= f.text_field :compression %>
  </div>
  <div class="field">
    <%= f.label :flowTemperature %><br />
    <%= f.text_field :flowTemperature %>
  </div>
  <div class="field">
    <%= f.label :returnTemperature %><br />
    <%= f.text_field :returnTemperature %>
  </div>
  <div class="field">
    <%= f.label :thermoOilProduction_id %><br />
    <%= f.number_field :thermoOilProduction_id %>
  </div>
  <div class="field">
    <%= f.label :thermoOilConsumption_id %><br />
    <%= f.number_field :thermoOilConsumption_id %>
  </div>
  <div class="field">
    <%= f.label :thermoOilDistribution_id %><br />
    <%= f.number_field :thermoOilDistribution_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
