<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
	<tr>
    	<td><%= f.label :role_name, "Rollenbezeichnung" %></td>
    	<td><%= f.text_field :role_name %></td>
	</tr>
	<tr>
    	<td><%= f.label :role_description, "Rollenbeschreibung" %></td>
    	<td><%= f.text_area :role_description, size: "93x2" %></td>
	</tr>
</table>
    <%= f.submit "Absenden" %>
<% end %>
