<%= form_for(@enterprise) do |f| %>
  <% if @enterprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h2>

      <ul>
      <% @enterprise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
<tr>
    <td><%= f.label :name, "Name" %>
    <td colspan=3><%= f.text_field :name %>
</tr>
<tr>
    <td><%= f.label :address, "Straße" %></td>
    <td><%= f.text_field :address %></td>
    <td><%= f.label :number, "Nummer" %></td>
    <td><%= f.text_field :number %></td>
</tr>
<tr>
    <td><%= f.label :zip, "PLZ" %></td>
    <td><%= f.text_field :zip %></td>
    <td><%= f.label :city, "Stadt" %></td>
    <td><%= f.text_field :city %></td>
</tr>
<tr>
    <td><%= f.label :phone, "Telefon" %></td>
    <td><%= f.telephone_field :phone %></td>
    <td><%= f.label :fax, "Fax" %></td>
    <td><%= f.text_field :fax %></td>
</tr>
<tr>
    <td><%= f.label :website, "Website" %></td>
    <td><%= f.url_field :website %></td>
    <td><%= f.label :email, "E-Mail" %></td>
    <td><%= f.email_field :email %></td>
</tr>
<!--<tr>
    <td><%= f.label :country, "Land" %></td>
    <td colspan=3><%= f.text_field :country %></td>
</tr>-->
<tr>
    <td><%= f.label "Branche" %></td>
    <td colspan=3><%= f.select :branch_id, Branch.all.map{|b| [b.name, b.id]}%></td>
</tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden"%>
  </div>
<% end %>
