<h1>Listing enterprises</h1>

<table>
  <tr>
    <th>Name</th>
    <!--<th>Address</th>
    <th>Number</th>
    <th>Zip</th>
    <th>City</th>
    <th>Phone</th>
    <th>Fax</th>-->
    <th>Website</th>
    <th>Country</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enterprises.each do |enterprise| %>
  <tr>
    <td><%= enterprise.name %></td>
    <td><%= enterprise.address %></td>
    <!--<td><%= enterprise.number %></td>
    <td><%= enterprise.zip %></td>
    <td><%= enterprise.city %></td>
    <td><%= enterprise.phone %></td>
    <td><%= enterprise.fax %></td>-->
    <td><%= enterprise.website %></td>
    <td><%= enterprise.country %></td>
    <td><%= enterprise.email %></td>
    <td><%= link_to 'Show', enterprise %></td>
    <td><%= link_to 'Edit', edit_enterprise_path(enterprise) %></td>
    <td><%= link_to 'Destroy', enterprise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enterprise', new_enterprise_path %>
