<!--BUSINESS DATA TYPE FORM-->

<%= form_for(@business_data_type) do |f| %>
  <% if @business_data_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_data_type.errors.count, "error") %> prohibited this business_data_type from being saved:</h2>

      <ul>
      <% @business_data_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bd_type %><br />
    <%= f.text_field :bd_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
