<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @business_data_type.bd_type %>
</p>

<p>
  <b>Description:</b>
  <%= @business_data_type.description %>
</p>

<p>
  <b>Unit:</b>
  <%= @business_data_type.unit %>
</p>


<%= link_to 'Edit', edit_business_data_type_path(@business_data_type) %> |
<%= link_to 'Back', business_data_types_path %>
