<h2>Beleuchtungsanlagen</h2>

<p>An dieser Stelle sind alle durch Sie registrierten Beleuchtungsanlagen erfasst. Bitte denken Sie daran auch kleinere Leuchten am Arbeitsplatz hier zu erfassen.</p>

<table class="zentriert">
  <tr>
    <th>Ort/Raum</th>
    <th>Lampentyp</th>
    <th>Baujahr</th>
    <th>Anzahl der Leuchten</th>
    <!--<th>Numberofbulbsinlamp</th>
    <th>Powerperlamp</th>
    <th>Installedpower</th>-->
    <th>Steuerung</th>
    <th>Konfiguration</th>
    <!--<th>String</th>
    <th>Hoursofoperation</th>
    <th>Illuminationtechnique</th>
    <th>Lightcontrol</th>
    <th>Groupswitchable</th>
    <th>Windowshadowing</th>-->
    <th width=100>Aktion</th>
  </tr>

<% @lightings.each do |lighting| %>
  <tr>
    <td><%= Location.find_by_id(lighting.location_id).name %></td>
    <td><%= lighting.bulbs %></td>
    <td><%= lighting.yearOfManufacturing %></td>
    <td><%= lighting.numberOfBulbs %></td>
    <!--<td><%= lighting.numberOfBulbsInLamp %></td>
    <td><%= lighting.powerPerLamp %></td>
    <td><%= lighting.installedPower %></td>-->
    <td><%= lighting.controlGear %></td>
    <td><%= lighting.lampConfiguration %></td>
    <!--<td><%= lighting.string %></td>
    <td><%= lighting.hoursOfOperation %></td>
    <td><%= lighting.illuminationTechnique %></td>
    <td><%= lighting.lightControl %></td>
    <td><%= lighting.groupSwitchable %></td>
    <td><%= lighting.windowShadowing %></td>-->
    
    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), lighting %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_lighting_path(lighting) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), lighting, method: :delete, data: { confirm: 'Are you sure?' }  %></td>

  </tr>
<% end %>
<tr><th colspan=6></th><th><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_lighting_path %></th></tr>
</table>

<br />


