<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @meter_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @meter_type.description %>
</p>


<%= link_to 'Edit', edit_meter_type_path(@meter_type) %> |
<%= link_to 'Back', meter_types_path %>
