<h3>Querschnittstechnologien (jährliche Erhebungen)</h3>
<table>
<tr>
  <td><%= link_to 'Drucklufterzeugung', compressed_air_production_years_path %></td>
  <td><%= link_to 'Drehzahlmessungen', speed_regulations_path %></td>
</tr>
  <td><%= link_to 'Druckluftverteilung', compressed_air_distribution_years_path %></td>
  <td></td>
</tr>
<tr>
  <td><%= link_to 'Druckluftverbrauch', compressed_air_consumption_years_path %></td>
  <td><%= link_to 'Bedarfszeiträume', compressed_air_demands_path %></td>
</tr>
<tr>
  <td><%= link_to 'Dampferzeugung', steam_production_years_path %></td>
  <td></td>
</tr>
<tr>
  <td><%= link_to 'Dampfverteilung', steam_distribution_years_path %></td>
  <td></td>
</tr>
<tr>
  <td>Dampfverbrauch</td>
  <td><%= link_to 'Bedarfszeiträume', steam_demands_path %></td>
</tr>
<tr>
  <td><%= link_to 'Heißwassererzeugung', hot_water_production_years_path %></td>
  <td></td>
</tr>
<tr>
  <td><%= link_to 'Heißwasserverteilung', hot_water_distribution_years_path %></td>
  <td></td>
</tr>
<tr>
  <td><%= link_to 'Heißwasserverbrauch', hot_water_consumption_years_path %></td>
  <td><%= link_to 'Bedarfszeiträume', hot_water_demands_path %></td>
</tr>
<tr>
  <td><%= link_to 'Thermoölproduktion', thermo_oil_production_years_path %></td>
  <td></td>
</tr>
<tr>
  <td><%= link_to 'Thermoölverteilung', thermo_oil_distribution_years_path %></td>
  <td></td>
</tr>
<tr>
  <td><%= link_to 'Thermoölverbrauch', thermo_oil_consumption_years_path %></td>
  <td><%= link_to 'Bedarfszeiträume', thermo_oil_demands_path %></td>
</tr>
<tr>
  <td><%= link_to 'Kälteproduktion', cold_production_years_path %></td>
  <td></td>
</tr>
<tr>
  <td><%= link_to 'Kälteverteilung', cold_distribution_years_path %></td>
  <td></td>
</tr>
<tr>
  <td><%= link_to 'Kälteverbrauch', cold_consumption_years_path %></td>
  <td><%= link_to 'Bedarfszeiträume', cold_demands_path %></td>
</tr>
<tr>
  <td>Elektrische Antriebe</td>
  <td></td>
</tr>
<tr>
  <td>Klimatechnik</td>
  <td></td>
</tr>
</table>