<script>
function showonlyonev2(thechosenone) {
      var newboxes = document.getElementsByTagName("div");
      for(var x=0; x<newboxes.length; x++) {
            name = newboxes[x].getAttribute("class");
            if (name == 'newboxes-2') {
                  if (newboxes[x].id == thechosenone) {
                        if (newboxes[x].style.display == 'block') {
                              newboxes[x].style.display = 'none';
                        }
                        else {
                              newboxes[x].style.display = 'block';
                        }
                  }else {
                        newboxes[x].style.display = 'none';
                  }
            }
      }
}
</script>

<% element = 1; %>

<h2>Stammdaten</h2>
<table>               
	<tr>
		<th align="center"><%= link_to 'Betriebswirtschaftliche Daten', business_data_path %></th>
		<th align="center"><%= link_to 'Produktionsbezogene Daten', production_data_path %></th>
	</tr>
</table>


<h3>Standorte und Gebäude</h3>
<p>An dieser Stelle sind alle Standorte Ihres Unternehmens zusammengefasst. Mit Klick auf den grünen Pfeil erhalten sie Detailinformationen zur Gebäudesituation. In diesem Menü können sie mit Klick auf das Datenblatt weitere Informationen zu dem Räumlichkeiten anzeigen lassen. Im unteren Teil der Tabelle gelangen Sie zu den einzelnen Einstellungen.</p>

<!-- Zeige alle Standorte-->
<% @production_sites.each do |ps| %>
    <table>
	    <tr>
		    <th id="field" align="left">
			    <%= ps.name %>, <%= ps.address %>, <%= ps.zip %> <%= ps.city %>
		    </th>
		    <th id="field" width="100" align="center">
			    <a id="<%="myHeader"+ "#{element}"+"-2"%>" href="javascript:showonlyonev2('<%="newboxes"+ "#{element}"+"-2"%>');" ><%= image_tag("runter.png", size: "20x20", alt: "Zeige Gebäude") %></a>
		    </th>
	    </tr>
    </table>

    <!-- Zeige alle Gebäude des Standortes-->
    <% @buildings = Building.find_all_by_site_id(ps.id)%>
    <% @buildings.each do |building| %>
        <div class="newboxes-2" id="<%="newboxes"+ "#{element}"+"-2"%>" style="display: none;">
	        <table>
		        <tr>
			        <td><b><%= building.name %></b></td>
			        <td width="100" class="zentriert">
		                <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_building_path(building) %>
		                <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), building, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
		        </tr>
	        </table>

            <!-- Zeige alle Räume des Gebäudes -->
            <% @levels = Level.find_all_by_building_id(building.id, :order => "level ASC") %>
            <% @levels.each do |level| %>
                <% @locations = Location.find_all_by_level_id(level.id) %>
                <% @locations.each do |location| %>
                    <table>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;<%= level.level %>. Etage: <%= location.name %></td>
                            <td width ="100" class="zentriert"><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), location %>
                                <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_location_path(location) %>
                                <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), location, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </td>
                        </tr>
                    </table>
                <% end %> <%# Hier ist das Ende der Location Schleife %>
            <% end %>
        </div>
    <% end %> <%# Hier ist das Ende der Building Schleife %>
    <% element = element+1 %>
<% end %> <%# Hier ist das Ende der ProduktionSite Schleife%>

<table>  
	<tr>
		<td><%= link_to 'Standorte anzeigen', produktion_sites_path %></td>
		<td width=100 align="center"><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_produktion_site_path %></td>
	</tr>
	<tr>
		<td><%= link_to 'Gebäude anzeigen', buildings_path %></td>
		<td align="center"><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_building_path %></td>
	</tr>
    <tr>
        <td><%= link_to 'Etagen anzeigen', levels_path %></td>
        <td align="center"><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_level_path %></td>
    </tr>
	<tr>
		<td><%= link_to 'Raum/Halle anzeigen', locations_path %></td>
		<td align="center"><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_location_path %></td>
	</tr>
</table>
<br>

<h3>Maschinen und Geräte</h3>

<p>An dieser Stelle finden Sie alle Maschinen geordnet nach Arbeitsablauf. Mit Klick auf die Pfeile können Sie sich die zugeordneten Maschinen ansehen und gelangen darüber auch in den Bearbeitungsmodus.</p>

<% @productionLevels.each do |pl| %>

<table>
	<tr>
		<th align="left"><%= pl.name %></th><th width=100><a id="<%="myHeader"+ "#{element}"+"-2"%>" href="javascript:showonlyonev2('<%="newboxes"+ "#{element}"+"-2"%>');" ><%= image_tag("runter.png", size: "20x20", alt: "Zeige Maschinen") %></a></th>
	</tr>
</table>

<div class="newboxes-2" id="<%="newboxes"+ "#{element}"+"-2"%>" style="display: none;">
<% @machinery = Machinery.find_all_by_productionLevel_and_enterpriseID(pl.id, @enterprise)%>
<% @machinery.each do |m| %>

<table>
	<tr>
		<td align="left"><%= link_to "#{m.name}", m %>, <%= MachineryType.find(m.machineryTypeID).m_type %></td><td width=100></td>
	</tr>
</table>

<% end %>
<% element = element+1 %>
</div>

<% end %>

<!--Diese Tabelle müsste raus und durch den Admin geregelt werden. Möglicherweise in "Internes"-->
<table>
	<tr>
		<td><%= link_to 'Maschinen- und Gerätetypen (Produktionsmaschinen, Peripherie, sonstige...)', machinery_types_path %></td>
		<td width=100 align="center"><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_machinery_type_path %></td>
	</tr>
	<tr>
		<td><%= link_to 'Produktionslevel (Druckvorstufe, Druckprozess, Drucknachbearbeitung, sonstige...)', production_levels_path %></td>
		<td width=100 align="center"><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_production_level_path %></td>
	</tr>
	<tr>
		<td><%= link_to 'Produktionsmaschinen', machineries_path %></td>
		<td width=100 align="center"><%= link_to image_tag("new.png", size: "20x20", alt: "Anlegen"), new_machinery_path %></td>
	</tr>
</table>