<h2>Projektdokumentation</h2>
<table>
  <tr>
    <td><%= link_to 'Howtos anzeigen', howtos_path %></td>
    <td><%= link_to 'Todos anzeigen', todos_path %></td>
  </tr>
</table>

<h2>Benutzerverwaltung</h2>
<table>
  <tr>
  <td><%= link_to 'Benutzer', users_path %></td>
  <td><%= link_to 'Rollen', roles_path %></td>
  <td><%= link_to 'Unternehmen', enterprises_path %></td>
  <td><%= link_to 'Branchen', branches_path %></td>
  </tr>
</table>