<table class="zentriert">
	<tr>
		<td><%= link_to 'Beleuchtung', lightings_path %></td>
		<td><%= link_to 'Druckluft', '/sites/compressedAir' %></td>
		<td><%= link_to 'Dampf', '/sites/steam' %></td>
		<td><%= link_to 'Heißwasser', '/sites/hotWater' %></td>
		<td><%= link_to 'Thermoöl', '/sites/thermoOil' %></td>
		<td><%= link_to 'Kälte', '/sites/cold' %></td>
		<td>Klima</td>
		<td>Elektrische Antriebe</td>
	</tr>
</table>