<% # encoding: UTF-8 %>

<h1>Eilbericht</h1>

<p>
  An dieser Stelle wird ein Eilbericht mit den wesentlichen Energiedaten des Unternehmens aufgezeit.
  Dieser Bericht kann auch als <%= link_to 'PDF-Dokument','/reports/short_reportpdf'%>  gespeichert werden
  <%= link_to image_tag("save-as-pdf.png", size: "30x30", alt: "PDF", valign: "middle"), '/reports/short_reportpdf' %>
</p>

<h2>Unternehmensstammdaten</h2>

<% @enterprise = Enterprise.first %>
<% @business_data = BusinessDatum.find_all_by_enterpriseId(@enterprise.id) %>

<table class="zentriert">
  <thead>
      <tr>
        <!--<th>Enterpriseid</th>-->
        <th>Jahr</th>
        <th>Jahresumsatz</th>
        <th>Einkommen</th>
        <th>Investment in Energieeffizienz</th>
        <th>Produktionskosten</th>
      </tr>
  </thead>
  <tbody>
      <% @business_data.each do |business_datum| %>
          <tr>
            <td class="year"><%= business_datum.year %></td>
            <td class="annualSales"><%= business_datum.annualSales%> €</td>
            <td class="netIncome"><%= business_datum.netIncome %> €</td>
            <td class="energyEfficiencyInvestment"><%= business_datum.energyEfficiencyInvestment %> €</td>
            <td class="ProductCost"><%= business_datum.productCosts %> €</td>
          </tr>
      <% end %>
  </tbody>
</table>

<%
   data_table = GoogleVisualr::DataTable.new
   data_table.new_column('string', 'Jahr')
   data_table.new_column('number', 'Jahresumsatz')
   data_table.new_column('number', 'Einkommen')
   data_table.new_column('number', 'EE-Investment')
   data_table.new_column('number', 'Produktionskosten')

   @business_data.each do |data|
     data_table.add_row(["#{data.year}", data.annualSales, data.netIncome, data.energyEfficiencyInvestment, data.productCosts])
   end

   opts = { :width => 800, :height => 250, :legend => 'bottom', :curveType => 'function'}
   @chart = GoogleVisualr::Interactive::LineChart.new(data_table, opts)
%>

<div id = 'chart' align = "center" style = 'width: 800px; height: 250px;'></div>
<%= render_chart @chart, 'chart' %>
<div align = "center">
  <h4>Abb. 1. Entwicklung Unternehmensstammdaten</h4>
</div>
<div class="spacer"></div>

<h2>Energieverbrauch</h2>

<%
   @bills = Bill.select('year, contract_id, sum(value) as value, sum(consumption) as consumption').group('year, contract_id').order('year ASC')
   @table_rows = Hash.new
   @bills.each do |bill|
     if not @table_rows.has_key?(bill.year)
       @table_rows[bill.year] = Hash.new
     end
     @table_rows[bill.year].store(Contract.find(bill.contract_id).energy_type_id, [bill.value.to_f, bill.consumption.to_f])
   end
%>

<table class="zentriert">
  <thead>
    <tr>
      <th rowspan="2">Jahr</th>
      <% EnergyType.all.each do |e| %>
        <th colspan="2"><%= e.energy_type %></th>
      <% end %>
    </tr>
    <tr>
      <% EnergyType.all.each do |e| %>
          <th>Verbr. (<%= raw(e.energy_measure) %>)</th>
          <th>Kosten (€)</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @table_rows.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <% EnergyType.all.each do |e| %>
            <td><%= value[e.id] ? value[e.id][0] : 0 %></td>
            <td><%= value[e.id] ? value[e.id][1] : 0 %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>

<%
   data_table = GoogleVisualr::DataTable.new
   data_table.new_column('string', 'Jahr')
   EnergyType.all.each do |e|
     data_table.new_column('number', e.energy_type + 'verbrauch')
     data_table.new_column('number', e.energy_type + 'kosten')
   end

   @table_rows.each do |key, value|
     chart_row = [key.to_s]
     EnergyType.all.each do |e|
       if (value[e.id] != nil)
         chart_row.push(value[e.id][0], value[e.id][1])
       else
         chart_row.push(0, 0)
       end
     end
     data_table.add_row(chart_row)
   end

   opts = { :width => 700, :height => 300, :title => 'Verbrauch + Kosten',
            chartArea: { left: 50, top: 50, width: "70%", height: "75%" },
            :colors => ['red','darkred', 'green', 'darkgreen', 'blue', 'darkblue', 'magenta', 'darkmagenta'] }
   @chart = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)
%>

<div id = 'chartVK' align = "center" style = 'width: 800px; height: 300px;'></div>
<%= render_chart @chart, 'chartVK' %>

<%
   data_table = GoogleVisualr::DataTable.new
   data_table.new_column('string', 'Jahr')
   EnergyType.all.each do |e|
     data_table.new_column('number', e.energy_type)
   end

   @table_rows.each do |key, value|
     chart_row = [key.to_s]
     EnergyType.all.each do |e|
       if (value[e.id] != nil)
         chart_row.push(value[e.id][0])
       else
         chart_row.push(0)
       end
     end
     data_table.add_row(chart_row)
   end

   opts = { :width => 350, :height => 240, :title => 'Verbrauch',
            chartArea: { left: 40, top: 50, width: "65%", height: "65%" },
            :colors => ['red','green', 'blue', 'magenta'] }
   @chartV = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)

   data_table = GoogleVisualr::DataTable.new
   data_table.new_column('string', 'Jahr')
   EnergyType.all.each do |e|
     data_table.new_column('number', e.energy_type)
   end

   @table_rows.each do |key, value|
     chart_row = [key.to_s]
     EnergyType.all.each do |e|
       if (value[e.id] != nil)
         chart_row.push(value[e.id][1])
       else
         chart_row.push(0)
       end
     end
     data_table.add_row(chart_row)
   end

   opts = { :width => 350, :height => 240, :title => 'Kosten',
            chartArea: { left: 40, top: 50, width: "65%", height: "65%" },
            :colors => ['darkred', 'darkgreen', 'darkblue', 'darkmagenta'] }
   @chartK = GoogleVisualr::Interactive::ColumnChart.new(data_table, opts)
%>

<div id="holder">
  <div class="item" id='chartV' align="center" style='width: 350px; height: 240px;'></div>
  <%= render_chart @chartV, 'chartV' %>
  <div class="item" id='chartK' align="center" style='width: 350px; height: 240px;'></div>
  <%= render_chart @chartK, 'chartK' %>
</div>
<div id="clearer"></div>

<div align = "center">
  <h4>Abb. 2. Entwicklung des Energieverbrauchs</h4>
</div>
<div class="spacer"></div>

<%= link_to image_tag("save-as-pdf.png", size: "20x20", alt: "PDF"), '/reports/short_reportpdf' %>
