<%= form_for(@howto) do |f| %>
  <% if @howto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@howto.errors.count, "error") %> prohibited this howto from being saved:</h2>

      <ul>
      <% @howto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
