<h1>Howto - Alles zum Aufsetzen des Servers und der Anwendung</h1>

<table>
  <tr>
    <th>Kategorie</th>
    <th>Name</th>
    <th>Beschreibung</th>
    <th width=100>Aktion</th>
  </tr>

<% @howtos.each do |howto| %>
  <tr>
    <td><%= howto.category %></td>
    <td><%= howto.name %></td>
    <td><%= howto.description %></td>

    <td>
		<%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), howto %>
		<%# if can? :update, @howtos %>
    		<%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_howto_path(howto)  %>
		<%# end %>
		<%# if can? :delete, @howtos %>
    		<%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), howto, method: :delete, data: { confirm: 'Are you sure?' }  %>
		<%# end %>
	</td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neues Howto', new_howto_path %>
