<%= form_for(@thermo_oil_production_year) do |f| %>
  <% if @thermo_oil_production_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermo_oil_production_year.errors.count, "error") %> prohibited this thermo_oil_production_year from being saved:</h2>

      <ul>
      <% @thermo_oil_production_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <td width="90"><%= f.label :thermoOilProduction_id, "Thermoölproduktion" %></td>
    <td><%= f.number_field :thermoOilProduction_id %></td>
    <td width="100"><%= f.label :fuelConsumption, "Brennstoffverbrauch" %></td><!--Hier die Unit noch nachtragen-->
    <td><%= f.number_field :fuelConsumption %></td>
  </tr>
  <tr>
    <td><%= f.label :kettleEnergyConsumption, "Jahresverbrauch" %></td>
    <td><%= f.number_field :kettleEnergyConsumption %> kWh Hs/a</td>
    <td><%= f.label :operatingHour, "Betriebsstunden" %></td>
    <td><%= f.number_field :operatingHours %> h</td>
  </tr>
  <tr>
    <td><%= f.label :kettleExitCompression, "Thermoölparameter Kesselaustritt" %></td>
    <td><%= f.number_field :kettleExitCompression %> bar Ü</td>
    <td><%= f.label :kettleExitTemperature, "Thermoölparameter Kesselaustritt" %></td>
    <td><%= f.number_field :kettleExitTemperature %> °C</td>
  </tr>
  <tr>
    <td><%= f.label :thermoOilAmount, "Jahresthermoölmenge" %></td>
    <td><%= f.number_field :thermoOilAmount %> m³/a</td>
    <td><%= f.label :tempCombustionAir, "Verbrennungsluft" %></td>
    <td><%= f.number_field :tempCombustionAir %> °C</td>
  </tr>
  <tr>
    <td><%= f.label :tempExhaustBeforeWRG, "Abgas vor WRG" %></td>
    <td><%= f.number_field :tempExhaustBeforeWRG %> °C</td>
    <td><%= f.label :tempExhaustAfterWRG, "Abgas nach WRG" %></td>
    <td colspan="3"><%= f.number_field :tempExhaustAfterWRG %> °C</td>
  </tr>
  <tr>
    <td><%= f.label :carbonDioxideExhaust, "CO2 Gehalt Abgas" %></td>
    <td colspan="3"><%= f.number_field :carbonDioxideExhaust %> Vol-%</td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>
