<p id="notice"><%= notice %></p>

<p>
  <b>Thermooilproduction:</b>
  <%= @thermo_oil_production_year.thermoOilProduction_id %>
</p>

<p>
  <b>Fuelconsumption:</b>
  <%= @thermo_oil_production_year.fuelConsumption %>
</p>

<p>
  <b>Kettleenergyconsumption:</b>
  <%= @thermo_oil_production_year.kettleEnergyConsumption %>
</p>

<p>
  <b>Operatinghours:</b>
  <%= @thermo_oil_production_year.operatingHours %>
</p>

<p>
  <b>Kettleexitcompression:</b>
  <%= @thermo_oil_production_year.kettleExitCompression %>
</p>

<p>
  <b>Kettleexittemperature:</b>
  <%= @thermo_oil_production_year.kettleExitTemperature %>
</p>

<p>
  <b>Thermooilamount:</b>
  <%= @thermo_oil_production_year.thermoOilAmount %>
</p>

<p>
  <b>Tempadditionalwater:</b>
  <%= @thermo_oil_production_year.tempAdditionalWater %>
</p>

<p>
  <b>Tempcombustionair:</b>
  <%= @thermo_oil_production_year.tempCombustionAir %>
</p>

<p>
  <b>Tempexhaustbeforewrg:</b>
  <%= @thermo_oil_production_year.tempExhaustBeforeWRG %>
</p>

<p>
  <b>Tempexhaustafterwrg:</b>
  <%= @thermo_oil_production_year.tempExhaustAfterWRG %>
</p>

<p>
  <b>Carbondioxideexhaust:</b>
  <%= @thermo_oil_production_year.carbonDioxideExhaust %>
</p>


<%= link_to 'Edit', edit_thermo_oil_production_year_path(@thermo_oil_production_year) %> |
<%= link_to 'Back', thermo_oil_production_years_path %>
