<p id="notice"><%= notice %></p>


  <h3>Standortdetails: <%= @location.name %></h3>


<table class="left">
	<tr><th colspan=2> </th></tr>
	<tr>
  		<th><b>Beschreibung:</b></th>
  		<td><%= @location.description %></td>
	</tr>
	<tr>
  		<th><b>Quadratmeter:</b></th>
  		<td><%= @location.squaremeter %> m&sup2;</td>
	</tr>
	<tr>
  		<th><b>Höhe:</b></th>
  		<td><%= @location.height %> m</td>
	</tr>
	<tr>
  		<th><b>Raumvolumen:</b></th>
  		<td><%= volume = @location.height * @location.squaremeter %> m&sup3;</td>
	</tr>
	<tr>
		<th colspan=4 align="right">
			<%= link_to image_tag("zurueck.png", size: "20x20", alt: 'Zurück'), locations_path %>
			<%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_location_path(@location) %>
		</th>
	</tr>
</table>