<h2>Standortdetails: <%= @location.name %></h2>

<p>
  Hier erhalten Sie Detailinformationen zum jeweiligen Raum.
  Weiter unten sind die sich dort befindenden Geräte und die Lampen und Leuchten in diesem Raum aufgelistet.
</p>

<table class="left">
    <tr><th colspan=4 align="center"><%= image_tag @location.photo.url(:show), {:class => 'photo'} %></th></tr>
	<tr>
  		<th width=100><b>Beschreibung:</b></th>
  		<td><%= @location.description %></td>
	</tr>
	<tr>
  		<th><b>Quadratmeter:</b></th>
  		<td><%= @location.squaremeter %> m&sup2;</td>
	</tr>
	<tr>
  		<th><b>Höhe:</b></th>
  		<td><%= @location.height %> m</td>
	</tr>
	<tr>
  		<th><b>Raumvolumen:</b></th>
  		<td><%= volume = @location.height * @location.squaremeter %> m&sup3;</td>
	</tr>
	<tr>
		<th colspan=4 align="right">
			<%= link_to image_tag("zurueck.png", size: "20x20", alt: 'Zurück'), locations_path %>
			<%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_location_path(@location) %>
		</th>
	</tr>
</table>

<h3>Maschinen und Geräte vor Ort</h3>

<p>Klicken Sie auf das jeweilige Bild der Maschine, um zu den Maschinendetails zu gelangen.</p>

<% @machinery = Machinery.find_all_by_location_id(@location.id) %>

<table>
<% @machinery.each do |machine| %>
	<tr><td width=100><%= link_to image_tag(machine.photo.url(:thumb), {:class => 'photo'}), machine %></td>
		<td><%= MachineryType.find(machine.machineryTypeID).m_type%> <%= link_to machine.name, machine %></td></tr>
<% end %>
</table>

<h3>Beleuchtungssituation</h3>

<% @lighting = Lighting.find_all_by_location_id(@location) %>

<table>
	<% @lighting.each do |light| %>
		<tr><td>Lampentyp: <%= link_to "#{light.bulbs}", light %></td><td>Anzahl der Leuchten: <%= light.numberOfBulbs %></td></tr>
	<% end %>
</table>