<!DOCTYPE html>
<html>
<head>
  <title>Remo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src='http://www.google.com/jsapi'></script>

<script type="text/javascript">
function showElement(layer){
var myLayer = document.getElementById(layer);
if(myLayer.style.display=="none"){
myLayer.style.display="block";
myLayer.backgroundPosition="top";
} else { 
myLayer.style.display="none";
}
}
</script>

</head>
<body>
<div id="wrapper">

<div id="header">
	<div id="title"><br>
		<h1>ReMo Green - Energieeffizienz für KMU</h1>
		<h3>Standardsoftwaretool für die Energieeffizienz in Berliner Betrieben</h3>
	</div>
	<div id="logo">
		<%= link_to image_tag("remo.png", height: 120) %>
	</div>
</div>
<div id="strich"></div>

<div id="navi">
	<div id="feld" class="zentriert"><%= link_to "Startseite", '/welcome/index' %></div>
	<div id="feld" class="zentriert"><%= link_to "Internes", '/sites/internal' %></div>
	<div id="feld" class="zentriert"><%= link_to "Energieziele", '/sites/goals' %></div>
	<div id="feld" class="zentriert"><%= link_to "Stammdaten", '/sites/general' %></div>
	<div id="feld" class="zentriert"><%= link_to "Abrechnungen", contracts_path %></div>
	<!--<div id="feld" align="center"><%# link_to "Verbräuche", '/sites/general' %></div>-->
	<div id="feld" align="center"><%= link_to "Messungen", measurings_path %></div>
	
	<div id="feld" class="zentriert"><a href="#" class="button" onclick="javascript:showElement('v-menu')"><span>Querschnitt</span></a></div>
	<ul id="v-menu" class="v-menu" style="display:none;">
		<li><%= link_to 'Beleuchtung', lightings_path %></li>
		<li><%= link_to 'Druckluft', '/sites/compressedAir' %></li>
		<li><%= link_to 'Dampf', '/sites/steam' %></li>
		<li><%= link_to 'Heißwasser', '/sites/hotWater' %></li>
		<li><%= link_to 'Thermoöl', '/sites/thermoOil' %></li>
		<li><%= link_to 'Kälte', '/sites/cold' %></li>
		<li>Klima</li>
		<li>Elektrische Antriebe</li>
	</ul>
	
	<div id="feld" class="zentriert"><%= link_to "Controlling", '/sites/controlling' %></div>
	<div id="feld" class="zentriert"><%= link_to "Reporting", '/sites/reporting' %></div>
	<div id="feld" class="zentriert"><%= link_to "Benchmarking", '/sites/benchmarking' %></div>
	<div id="feld" class="zentriert"><%= link_to "Simulation", '/sites/simulation' %></div>
</div>

<div id="inhalt">
	<!--Doppelt gemoppelt--> 
  <!--<div id="flash">
    <%# if flash[:notice] %>
     <%# flash[:notice] %>
    <%# end %>
  </div>-->
<%= yield %>
</div>

<div id="strich"></div>

</div>
	<div id="footer" class="zentriert">
	Das Projekt "ReMo Green - Energieeffizienz für Berliner KMU" ist eine Initiative der IMBC GmbH und wurde gefördert durch Mittel des Europäischen Fond für regionale Entwicklung, 						
	<br>bereitgestellt durch die Senatsverwaltung für Forschung, Technik und Wirtschaft in Berlin.<br><br>
	<%= link_to image_tag("imbc.png", height: "60") %><%= link_to image_tag("spacer.png", width: "30") %>
	<%= link_to image_tag("efre2.png", height: "50") %><%= link_to image_tag("spacer.png", width: "30") %>
	<%= link_to image_tag("berlin.png", height: "40") %>
	</div>
</div>

</body>
</html>
