<!DOCTYPE html>
<html>
<head>

	
  <title>Remo Green - Energieeffizienz für Berliner KMU</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :charset =>"utf-8" %>
  <%= csrf_meta_tag %>

  <script src='http://www.google.com/jsapi'></script>

<script type="text/javascript">
function showElement(layer){
var myLayer = document.getElementById(layer);
if(myLayer.style.display=="none"){
myLayer.style.display="block";
myLayer.backgroundPosition="top";
} else { 
myLayer.style.display="none";
}
}
</script>

</head>
<body>

<div id="wrap">
	<div id="header">
		<table class="header"><tr>
			<td class="header1"><h1>ReMo Green - Energieeffizienz für KMU</h1>
			<h3>Standardsoftwaretool für die Energieeffizienz in Berliner Betrieben</h3></td>
			<td class="header2"><%= link_to image_tag("remo.png", height: 120) %></td>
	</tr></table>
	</div>
	<div class="strich"></div>
	<div id="sidebar">
		<div class="feld">
			<% if session[:user_id] %>
				<%= @firstname = User.find(session[:user_id]).firstname %>
				<%= @name = User.find(session[:user_id]).name %>	
				<% @id = User.find(session[:user_id]).enterprise_id %>
	    		<%= @enterprise = Enterprise.find(@id).name %>
			<% end %>
		</div>
		<div class="feld"><%= link_to "Startseite", '/welcome/index' %></div>
		<%# if User.find(session[:user_id]).role_id == 1 %>
			<div class="feld"><%= link_to "Admin", '/sites/internal' %></div>
		<%# end %>
		<!--<div id="feld"><%= link_to "Energieziele", '/sites/goals' %></div>-->
		<div class="feld"><%= link_to "Stammdaten", '/sites/general' %></div>
		<div class="feld"><%= link_to "Versorger", contracts_path %></div>
		<div class="feld"><%= link_to "Messungen", measurings_path %></div>

		<div class="feld"><a href="#" class="button" onclick="javascript:showElement('v-menu')"><span>Querschnitt</span></a></div>
		<div id="v-menu" class="v-menu" style="display:none;">
			<div class="feld2"><%= link_to 'Beleuchtung', lightings_path %></div>
			<div class="feld2"><%= link_to 'Druckluft', '/sites/compressedAir' %></div>
			<div class="feld2"><%= link_to 'Dampf', '/sites/steam' %></div>
			<div class="feld2"><%= link_to 'Heißwasser', '/sites/hotWater' %></div>
			<div class="feld2"><%= link_to 'Thermoöl', '/sites/thermoOil' %></div>
			<div class="feld2"><%= link_to 'Kälte', '/sites/cold' %></div>
			<!--<li>Klima</li>
			<li>Elektrische Antriebe</li>-->
		</div>

	    <div class="feld"><%= link_to "Checklisten", '/sites/checklists_manager' %></div>
		<div class="feld"><%= link_to "Controlling", '/sites/controlling' %></div>

        <div class="feld"><a href="#" class="button" onclick="javascript:showElement('report-menu')"><span>Beriche</span></a></div>
        <div id="report-menu" class="report-menu" style="display:none;">
            <div class="feld2"><%= link_to "Eilbericht", '/sites/short_report' %></div>
		    <div class="feld2"><%= link_to "Ausführlicher Bericht", '/sites/full_report' %></div>
        </div>

		<div class="feld"><%= link_to "Benchmarking", '/benchmarking/index' %></div>
		<div class="feld"><%= link_to "Simulation", '/sites/simulation' %></div>
		<div class="feld"><%= link_to "Logout", logout_path, method: :delete %></div>
		<br><br><br><br>
	</div>
	<div id="main">
		
		<%= yield %>
		<br><br><br>
	</div>
	<div style="clear:both;"></div>
<div class="strich"></div>
	<div id="footer" class="zentriert">
		Das Projekt "ReMo Green - Energieeffizienz für Berliner KMU" ist eine Initiative der IMBC GmbH und wurde gefördert durch Mittel des Europäischen Fond für regionale Entwicklung, 						
		<br>bereitgestellt durch die Senatsverwaltung für Forschung, Technik und Wirtschaft in Berlin.<br><br>
		<%= link_to image_tag("imbc.png", height: "60") %><%= link_to image_tag("spacer.png", width: "30") %>
		<%= link_to image_tag("efre2.png", height: "50") %><%= link_to image_tag("spacer.png", width: "30") %>
		<%= link_to image_tag("berlin.png", height: "40") %>
	</div>
</div>

</body>
</html>
