<!DOCTYPE html>

<html>

<head>
  <title>Remo</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <script src='http://www.google.com/jsapi'></script>
  <script>
      function subst() {
          var vars={};
          var x=document.location.search.substring(1).split('&');
          for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
          var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
          for(var i in x) {
              var y = document.getElementsByClassName(x[i]);
              for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
          }
      }
  </script>
</head>

<body>
<div id="wrapper">

<div id="header" align="center">
  	<div id="title"><br>
		<h1>ReMo Green - Energieeffizienz für KMU</h1>
		<h3>Standardsoftwaretool für die Energieeffizienz in Berliner Betrieben</h3>
	</div>
	<div id="logo">
      <% image_path=Rails.root.to_s+"/app/assets/images/" %>
      <img src="<%= image_path + "remo.png" %>" height="120px">
	</div>
</div>

<div id="strich"></div>

<div id="inhalt">
	<!--Doppelt gemoppelt--> 
  <!--<div id="flash">
    <%# if flash[:notice] %>
     <%# flash[:notice] %>
    <%# end %>
  </div>-->
<%= yield %>
</div>

<div id="footer" class="zentriert" align="center">
	Das Projekt "ReMo Green - Energieeffizienz für Berliner KMU" ist eine Initiative der IMBC GmbH und wurde gefördert durch Mittel des Europäischen Fond für regionale Entwicklung, 						
	<br>bereitgestellt durch die Senatsverwaltung für Forschung, Technik und Wirtschaft in Berlin.<br><br>

    <img src="<%= image_path + "imbc.png" %>" height="60px"><img src="<%= image_path + "spacer.png" %>" height="30px">
    <img src="<%= image_path + "efre2.png" %>" height="50px"><img src="<%= image_path + "spacer.png" %>" height="30px">
    <img src="<%= image_path + "berlin.png" %>" height="40px">
    <!--<img src="/assets/imbc.png" height="60px"><img src="/assets/spacer.png" height="30px">-->
    <!--<img src="/assets/efre2.png" height="50px"><img src="/assets/spacer.png" height="30px">-->
    <!--<img src="/assets/berlin.png" height="40px">-->
	</div>
</div>

</body>
</html>
