<h1>Produktionsstufen</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
    <th></th>
  </tr>

<% @production_levels.each do |production_level| %>
  <tr>
    <td><%= production_level.name %></td>
    <td><%= production_level.description %></td>

    <td><%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), production_level %>
    <%= link_to image_tag("edit.png", size: "20x20", alt: "Bearbeiten"), edit_production_level_path(production_level) %>
    <%= link_to image_tag("delete.png", size: "20x20", alt: "Löschen"), production_level, method: :delete, data: { confirm: 'Are you sure?' }   %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Produktionsstufe anlegen', new_production_level_path %>
